
<title-bar name="Angular Directives"></title-bar>

<div class="wrapper-md pos-rlt">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Angualr Directives 用法指南</div>
				</div>
				<div class="panel-body" ng-controller="DemoDirectiveCtrl">
					<div class="form-group">
						<label for="">测试：</label>
						<button type="button" class="btn btn-primary">点击我</button>
					</div>

					<div class="form-group">
						<label for="">指令：</label>
						<label my-direct>
					</div>

					<div class="form-group">
						<label for="">指令：</label>
						<div my-direct class="inline"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">嵌套指令</div>
				</div>
				<div class="panel-body" ng-controller="nestDirectCtrl">
					<div class="form-group">
						<!-- <div outer-direct>
								<div inner-direct></div>
						</div> -->

						<div my-grid height="500" width="300">
							<div my-grid-row height="300">
			         	<div my-grid-cell width=".33"></div>
			         	<div my-grid-cell width=".34"></div>
			         	<div my-grid-cell width=".33"></div>
		         	</div>
					    <div my-grid-row height="200">
					      <div my-grid-cell width=".5"></div>
					      <div my-grid-cell width=".5"></div>
					    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>