
<div class="bg-light dk b-b header-md h">
  <h1 class="m-n text-center font-thin h3">一些测试问题和知识点</h1>
</div>
<div class="wrapper-md">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">服务中调用controller的方法，是否会有上下文的问题</div>
				</div>
				<div class="panel-body">
					<form class="form" name="form" ng-controller="ExecFuncInServiceCtrl">
						<pre>{{ entity.isMulti }}</pre>
						<pre>{{ entity.results.length }}</pre>
						<pre>{{ entity.isMulti && entity.results.length }}</pre>
						<div class="form-group">
							<label for="">调用方法</label>
							<button type="button" class="btn btn-primary" ng-click="execFuncInService()">调用方法</button>
						</div>
						<div class="form-group">
							<pre>{{ entity | json }}</pre>
						</div>
						<div class="form-group">
							<label for="">decorator</label>
							<button type="button" class="btn btn-primary" ng-click="execDecorator()">decorator 方法</button>
						</div>
						<div class="form-group">
							<div ng-repeat="chkbox in chkboxes">
								<input type="checkbox" name="chkbox" ng-model="entity.abc[$index]" ng-true-value="{{chkbox.age}}">{{ chkbox.name }}
							</div>
						</div>
						<pre>{{ entity.abc }}</pre>
					</form>
				</div>
				<div class="panel-footer">
					<small class="text-info">点击调用方法，改变 entity 的值</small>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">装饰器 decorator </div>
				</div>
				<div class="panel-body">
					
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">$q defer promise</div>
				</div>
				<div class="panel-body" ng-controller="DeferAndPromiseCtrl">
					<form action="" name="form" >
						<div class="form-group">
							<label for="" class="control-label">defer和promise的比较</label>
							<button class="btn btn-primary" ng-click="test()">测试</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6" ng-controller="DataGenerateCtrl">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">数据生成</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="control-label">生成scroll数据</label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-primary" ng-click="generateData()">generate</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">placeholder 和 有值时的不同样式</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="请输入" ng-model="entity.sex" ng-class="{'font-bold': entity.sex.length > 0}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<style>
		.w-auto-important { width: auto !important; }
		.w-200 { width: 200px;}
		</style>
		<div class="col-sm-12 col-md-6">
			<div class="div breadcrumb swiper-container contact-list w-200 pull-left">
				<ul class="swiper-wrapper p-l-sm m-xs list-unstyled">
					<li class="swiper-slide w-auto-important">11111</li>
					<li class="swiper-slide w-auto-important">22222</li>
					<li class="swiper-slide w-auto-important">33333</li>
					<li class="swiper-slide w-auto-important">44444</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
					<li class="swiper-slide w-auto-important">55555</li>
				</ul>
			</div>

			<div class="text-ellipsis pull-left">
				11111111111
			</div>

			<script>
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				slidesPerView: 4,
				centeredSlides: false,
				paginationClickable: true,
				spaceBetween: 10,
				grabCursor: true,
				watchSlidesProgress: true
			});
			</script>
		</div>
	</div>

	<style>
		.w-p-5 { width: 18%; background: #5115CF; }
		.area-item-content > a { background: #EB0C0C; }
	</style>
	<div class="col-md-6 col-sm-12" ng-controller="listItemCtrl">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">list-group</div>
			</div>
			<div class="panel-body">
				<ul class="list-group list-unstyled">
					<li class="list-group-item area-item-title">
						<a href="" class="inline text-center w-p-5">A</a>
						<a href="" class="inline text-center w-p-5">B</a>
						<a href="" class="inline text-center w-p-5">C</a>
						<a href="" class="inline text-center w-p-5">D</a>
						<a href="" class="inline text-center w-p-5">E</a>
					</li>
					<li class="list-group-item area-item-content">
						<!-- {{ vm.countries | json }}
						<a href="" class="inline" ng-repeat="country in vm.countries $track by $index">{{ country }}</a> -->
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
						<a href="" class="inline btn btn-default">中国</a>
					</li>
					<li class="list-group-item">
						<a href="" class="inline text-center w-p-5">A</a>
						<a href="" class="inline text-center w-p-5">B</a>
						<a href="" class="inline text-center w-p-5">C</a>
						<a href="" class="inline text-center w-p-5">D</a>
						<a href="" class="inline text-center w-p-5">E</a>
					</li>
					<li class="list-group-item">
						<a href="" class="inline text-center w-p-5">A</a>
						<a href="" class="inline text-center w-p-5">B</a>
						<a href="" class="inline text-center w-p-5">C</a>
						<a href="" class="inline text-center w-p-5">D</a>
						<a href="" class="inline text-center w-p-5">E</a>
					</li>
					<li class="list-group-item">
						<a href="" class="inline text-center w-p-5">A</a>
						<a href="" class="inline text-center w-p-5">B</a>
						<a href="" class="inline text-center w-p-5">C</a>
						<a href="" class="inline text-center w-p-5">D</a>
						<a href="" class="inline text-center w-p-5">E</a>
					</li>
					<li class="list-group-item">
						<a href="" class="inline text-center w-p-5">A</a>
						<a href="" class="inline text-center w-p-5">B</a>
						<a href="" class="inline text-center w-p-5">C</a>
						<a href="" class="inline text-center w-p-5">D</a>
						<a href="" class="inline text-center w-p-5">E</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>