._personal_inf{
  background-color: rgb(212, 255, 227);
  color: green;
    text-align: center;
}
.additional_inf{
  background-color: rgb(230, 241, 246);
    text-align: center;
}
.eye{
  width: 30px;
  height: 10px;
  border-radius: 5px;
  float: left;
  margin: 5px;
  box-shadow: 0px 0px 3px gray;
  border: 1px solid gray;
}

.eye.green{
  background-color: rgb(92, 197, 23);
}
.eye.brown{
  background-color: rgb(208, 92, 92);
}

.eye.blue{
  background-color: rgb(49, 191, 255);
}
.CodeMirror{
  height: auto !important;
  border: 1px dashed rgb(167, 167, 167);
}
/* h2{
  margin-top: 0;
}
p{
  color: gray;
} */

/*callout*/
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  color: gray;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.label{
  font-size: 12px;
  font-weight: 100;
  font-family: Arial;
}
.label.friend{
  margin-right: 10px;
}

.conow-datatable-module .back-cover {
    background-color: #fff
}

.conow-datatable-module .count {
    font-size: 15px;
    float: right;
    margin-top: 20px;
    color: #2165a3;
    background-color: rgba(188,188,188,.35)
}

.conow-datatable-module .count .records {
    color: #888;
    font-weight: 400
}

.conow-datatable-module .search.separate {
    width: 100%;
    max-width: 100%;
    padding-left: 22px
}

.conow-datatable-module .search_icon {
    position: absolute;
    right: 8px;
    top: 10px;
    color: gray
}

.conow-datatable-module .search_icon.separate {
    left: 15px;
    top: 20px;
    font-size: 10px;
    width: 10px
}

.conow-datatable-module .sorting-badge {
    background-color: #fff;
    position: relative;
    font-weight: 600;
    font-size: 10px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 5px;
    color: #337ab7;
    border: 1px solid rgba(12,75,140,.43);
    margin-bottom: 3px
}

.conow-datatable-module .sorting-container {
    margin: 10px 0
}

.conow-datatable-module .sorting-container .sorting-badge:hover {
    background-color: #337ab7;
    color: #fff
}

.conow-datatable-module .sorting-container .sorting-badge:hover .close {
    opacity: 1;
    cursor: pointer;
    color: #002655;
    text-shadow: none
}

.conow-datatable-module .sorting-container .sorting-badge .close {
    margin-left: 5px;
    float: right;
    font-size: 12px;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: .2
}

.conow-datatable-module .conow-datatable {
    margin-bottom: 0;
    color: gray
}

.conow-datatable-module .conow-datatable tfoot tr,.conow-datatable-module .conow-datatable thead>tr {
    /* background-color: #e6f1f6;
    color: #2165a3; */
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.conow-datatable-module .conow-datatable thead>tr th {
    border-bottom: 0;
    padding-right: 15px;
    position: relative;
    will-change: width;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.conow-datatable-module .conow-datatable thead>tr th[draggable] a {
    width: 100%;
    display: block
}

.conow-datatable-module .conow-datatable thead>tr th.dragged div.resize,.conow-datatable-module .conow-datatable thead>tr th.draggedOver div.resize {
    display: none
}

.conow-datatable-module .conow-datatable thead>tr th.dragged {
    background-color: rgba(255,255,255,.64);
    border: 2px dashed #427998
}

.conow-datatable-module .conow-datatable thead>tr th.draggedOver {
    background-color: rgba(128,128,128,.16);
    border: 1px solid #93999c
}

.conow-datatable-module .conow-datatable thead>tr th.sortable {
    position: relative
}

.conow-datatable-module .conow-datatable thead>tr th.sortable span {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.conow-datatable-module .conow-datatable thead>tr th.sortable span:after,
.conow-datatable-module .conow-datatable thead>tr th.sortable span:before {
    content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #fff transparent;
  visibility: visible;
  right: 5px;
  top: 50%;
  position: absolute;
  opacity: .3;
  margin-top: -4px;
}

.conow-datatable-module .conow-datatable thead>tr th.sortable span:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.conow-datatable-module .conow-datatable thead>tr th.sortable.table-sort-down:after,
.conow-datatable-module .conow-datatable thead>tr th.sortable.table-sort-up:before,
.conow-datatable-module .conow-datatable thead>tr th.sortable:hover:not(.table-sort-up):not(.table-sort-down):after,
.conow-datatable-module .conow-datatable thead>tr th.sortable:hover:not(.table-sort-up):not(.table-sort-down):before {
    opacity: 1
}

.conow-datatable-module .conow-datatable thead>tr th.separate {
    position: relative;
    padding-right: 7px;
    text-shadow: none!important;
    outline: 0
}

.conow-datatable-module .conow-datatable thead>tr th.separate:focus {
    outline: 0
}

.conow-datatable-module .conow-datatable thead>tr th div.resize {
    width: 5px;
    border-right: 2px dotted #949494;
    position: absolute;
    right: -2px;
    visibility: hidden;
    top: 0;
    z-index: 999;
    height: 100%;
    cursor: ew-resize
}

.conow-datatable-module .conow-datatable thead>tr th:hover div.resize {
    visibility: visible
}

.conow-datatable-module .conow-datatable tfoot tr {
    cursor: auto
}

.conow-datatable-module .conow-datatable tbody tr.selected-row td {
    background-color: #d7f1a0
}

.conow-datatable-module .conow-datatable tbody tr:hover {
    background-color: rgba(103,103,103,.08);
    color: #000
}

.conow-datatable-module .conow-datatable tbody td:hover {
    cursor: pointer
}

.conow-datatable-module .conow-datatable tbody td[editable] span:focus {
    padding: 3px;
    margin: -3px;
    border: 2px dotted #738395;
    background-color: #F5F5F5;
    vertical-align: middle;
    color: #0c4b8c;
    display: block;
    outline: 0
}

.conow-datatable-module.hover-column table {
    overflow: hidden!important
}

.conow-datatable-module.hover-column table thead tr th {
    z-index: 3;
    position: relative
}

.conow-datatable-module.hover-column table tbody tr td {
    position: relative;
    outline: 0;
    z-index: 2
}

.conow-datatable-module.hover-column table tbody tr td:hover {
    z-index: 1
}

.conow-datatable-module.hover-column table tbody tr td:hover::before {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
    background-color: rgba(103,103,103,.08)
}

.loading {
    padding: 5px;
    text-align: center;
    color: #337ab9
}

.loading .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0)
    }

    to {
        transform: scale(1) rotate(360deg)
    }
}


/**
 * add by wlj @20150914
 */
.conow-datatable-container {
  overflow: auto;
}

.conow-datatable-module .search-container {
  margin-bottom: 10px;
}

.conow-datatable th, 
.conow-datatable td,
.conow-datatable.horizontal-scroll th, 
.conow-datatable.horizontal-scroll td {
  text-align: left;
  vertical-align: middle;
}

.conow-datatable.horizontal-scroll tr th:not(.header-checkbox-th), 
.conow-datatable.horizontal-scroll tr td:not(.row-checkbox-td) {
  width: 100px;
  min-width: 100px;
}

.conow-datatable.horizontal-scroll tr th.header-checkbox-th, 
.conow-datatable。horizontal-scroll tr td.row-checkbox-td {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.conow-datatable td.width-200 {
  width: 200px;
  min-width: 200px;
}

.conow-datatable td {
  position: relative;
}

.collapse-name {}
.collapse-name:after {
  content: ':';
}

.collapse-value {
  margin-left: 10px;
}

/*
.first-column:before {
  content: '+'; 
  height: 16px;
  width: 16px;
  line-height: 14px;
  padding-left: 3px;
  position: absolute;
  border-radius: 16px;
  background-color: #FE0202;
  color: #fff;
  display: inline-block;
  left: -3px;
  top: 11px;
}

.first-column.collapsed:before {
  content: '-';
  background-color: #10E82F;
}
*/

.expand-icon {
  padding-right: 5px;
  font-size: 1.2em;
}

.w-500 {
  width: 500px;
}

/**
 * pagination
 */
.pagination-container {
  text-align: center;
}

.pagination-container .pagination,
.pagination-container .direct-page-container {
  display: inline-block;
}

.direct-page-container input {
  width: 50px;
  height: 38px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.direct-page-container .btn {
  height: 38px;
}

.pagination-container .pagination > li > a {
    position: relative;
    float: left;
    margin-right: 3px;
    margin-left: 3px;
    padding: 7px 10px;
    line-height: 1.714285714em;
    color: #23b7e5;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination li a.conow-pagination {
  min-width:38px;
  height: 38px;
}
.pagination li a.conow-pagination-boundary-links {
  /* width: 85px; */
}
.pagination-container .pagination>li:last-child > a, .pagination-container .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pagination-container .pagination>.disabled a
.pagination-container .pagination>.disabled>span, 
.pagination-container .pagination>.disabled>span:hover, 
.pagination-container .pagination>.disabled>span:focus, 
.pagination-container .pagination>.disabled a, 
.pagination-container .pagination>.disabled>a:hover, 
.pagination-container .pagination>.disabled>a:focus {
    color: #808080!important;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-container .pagination>.active>a, 
.pagination-container .pagination>.active>span, 
.pagination-container .pagination>.active>a:hover, 
.pagination-container .pagination>.active>span:hover, 
.pagination-container .pagination>.active>a:focus, 
.pagination-container .pagination>.active>span:focus {
    z-index: 2;
    color: #000000;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
}
.pagination-container .fa-fw {
    width: 0.8em;
    text-align: center;
    font-size: 17px;
}
.pagination-container {
  margin: 15px 0;
}
.pagination-container .pagination,
.pagination-container .direct-page-container {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
}

.direct-page-container.direct-page-container-sm {
  position: absolute;
  left: 0px;
  bottom: 40px;
  background-color: #fff;
  padding: 5px 0;
  width: 100%;
  vertical-align: middle;
}

.pagination > .active > a.conow-pagination {
  margin: 0;
  border: none;
  background-color: #fff;
  color: #000;
}

@media(min-width: 768px){
  .conow-datatable > thead {
    background-color: #6A6C7A;
    color: #fff;
    font-size:18px;
  }
}

@media(max-width: 767px){
  .conow-datatable > thead {
    background-color: #f2f6fa;
    color: #808080;
    font-size:14px;
  }
  .conow-datatable > tbody > tr{
    padding-left:10px;
    padding-right:10px;
  }
  .conow-datatable > tbody > tr.ng-table-childHidden > td{
      padding: 0px 19px;
      border-top: 1px solid #e7e7e7;
      font-size: 16px;
  }
  .pagination-container > .pagination {
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    margin:0;
    width:100%;
    height:40px;
    background:#EBECEE;
    justify-content:center;
  }
   .pagination-container > .pagination > li{
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    -ms-flex:1;
   }
   .pagination-container .pagination > li.disabled > a.conow-pagination,
   .pagination-container .pagination > li > a.conow-pagination {
      padding: 4px 10px;
        width: 100%;
        height: 40px;
        font-size: 30px;
    border:none;
    /* font-weight:bold; */
    background:none;
   }
    .pagination-container .pagination > li > a.conow-pagination-input{
      padding: 4px 0;
    }
   .pagination-container .pagination > li > a.conow-pagination i{
    vertical-align:top;
   }
   .pagination-container .pagination > li .input-page{
    padding: 0 5px;
    width:50px;
    height:30px;
    line-height: 1.4;
    vertical-align: top;
    font-size:25px;
    /* border:1px solid #ccc; */
   }
   
}

