
<style>
	.btn-hover-red:hover {
		color: #EB6565;
	}
	.btn-danger-square {
		background-color: #FFFFFF;
		color: #F05050;
		border: 1px solid #F05050;
	}
	.btn-danger-square:hover {
		color: #F05050;
		font-weight: bold;
		border: 2px solid #F05050;
	}
	.b-split {
		border-color: #dcedf5;
	}
</style>
<div class="search" ng-if="!options.showDetail">
	<div class="hbox padder-md">
		<div class="input-group">
			<input type="text" class="form-control input-lg r-3x" ng-model="entity.searchKey" ng-keyup="enterPress($event)" placeholder="搜索" autofocus>
			<div class="input-group-btn">
			  <button type="button" class="btn btn-primary input-lg r-3x" tabindex=-1>
					<i class="fa fa-search"></i>
			  </button>  	  	
			</div>
	  </div>
	</div>

	<div class="hbox m-t-sm">
		<div class="col col-xs-2 col-md-1 p-t-sm p-l-md">
			<label for="" class="control-label text-md">区域：</label>
		</div>
		<div class="col col-xs-10 col-md-11">
			<a class="btn m-xs r-3x btn-hover-red text-md" ng-class="{'btn-success': entity.areaSelected == area}" ng-repeat="area in entity.area track by $index" ng-click="areaSelect(area)">{{ area }}</a>
		</div>
	</div>
	<div class="hbox m-b">
		<div class="col col-xs-2 col-md-1 p-t-sm p-l-md">
			<label for="" class="control-label text-md">分类：</label>
		</div>
		<div class="col col-xs-10 col-md-11">
			<a class="btn m-xs r-3x btn-hover-red text-md" ng-class="{'btn-success': entity.classifySelected == classify}" ng-repeat="classify in entity.classify track by $index" ng-click="classifySelect(classify)">{{ classify }}</a>
		</div>
	</div>

	<div class="m-b" ng-if="options.search">
		<div class="padder-md" ng-if="!entity.searchResults">
			<i class="fa fa-spin fa-spinner"></i>
			<span>加载中</span>
		</div>
		<div ng-if="entity.searchResults">
			<div class="hbox bg-primary text-base font-bold padder-sm padder-v-sm">
				<div class="col">
					<span>搜索结果</span>
				</div>
			</div>
			<div class="padder-sm padder-v-sm text-info" ng-if="entity.searchResults && entity.searchResults.length == 0">
				没有符合条件的组织信息
			</div>
			<div class="m-t">
				<div ng-repeat="result in entity.searchResults track by $index">
					<div class="hbox padder">
						<a class="col col-xs-8" ng-click="showDetailInfo(result)">
							<div>
								<span class="text-md">{{ result.ORG_UNIT_SHORT_NAME }}</span>
							</div>
							<div>
								<span class="text-xs m-t-sm">{{ result.totalName }}</span>
							</div>
						</a>
						<div class="col v-middle">
							<a class="btn btn-danger-square pull-right v-middle" ng-click="collectionConfirm(result)">关注</a>
						</div>
					</div>
					<hr class="b-b b-split">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="result-search" ng-if="options.showDetail">
	<div class="hbox m-b bg-primary font-bold text-title padder-v-sm">
		<span class="v-middle m-sm">中科院/广州生物院</span>
	</div>
	<div class="hbox m-b">
		<input type="text" class="form-control input-lg r-3x" placeholder="搜索" ng-keyup="enterPress($event)" autofocus>
	</div>
	<div class="hbox m-b">
		<conow-tabs>
			<conow-tabs-titles>
				<conow-tabs-titles-text title="下级组织" show="true"></conow-tabs-titles-text>
				<conow-tabs-titles-text title="人员信息"></conow-tabs-titles-text>
				<conow-tabs-titles-text title="组织信息"></conow-tabs-titles-text>
			</conow-tabs-titles>
			<conow-tabs-content>
				<conow-tabs-content-url url="views/business/hr/org/child-orgs.html"></conow-tabs-content-url>
				<conow-tabs-content-url url="views/business/hr/org/org-staffs.html"></conow-tabs-content-url>
				<!-- <conow-tabs-content-text>
					<span class="col-xs-12 m-t-sm">组织名称：11111</span>
					<span class="col-xs-12 m-t-sm">组织简称：11111</span>
					<span class="col-xs-12 m-t-sm">英文名称：11111</span>
					<span class="col-xs-12 m-t-sm">部门职责类型：11111</span>
					<span class="col-xs-12 m-t-sm">部门负责人：11111</span>
					<span class="col-xs-12 m-t-sm">联系地址：11111</span>
					<span class="col-xs-12 m-t-sm">邮政编码：11111</span>
					<span class="col-xs-12 m-t-sm">电话号码：11111</span>
					<span class="col-xs-12 m-t-sm">传真：11111</span>
					<span class="col-xs-12 m-t-sm">网址：11111</span>
				</conow-tabs-content-text> -->
				<conow-tabs-content-url url="views/business/hr/org/org-info.html"></conow-tabs-content-url>
			</conow-tabs-content>
		</conow-tabs>
	</div>
	
</div>