
<style>
	.btn-hover-red:hover {
		color: #EB6565;
	}
</style>
<div>
	<div class="hbox m-b">
		<input type="text" class="form-control input-lg r-3x" placeholder="搜索" ng-keyup="enterPress($event)" autofocus>
	</div>

	<div class="hbox m-b">
		<div class="col col-xs-2 col-md-1 m-n v-middle">
			<label for="" class="control-label">区域</label>
		</div>
		<div class="col col-xs-10 col-md-11">
			<a class="btn m-xs r-3x btn-hover-red" ng-class="{'btn-success': entity.areaSelected == area}" ng-repeat="area in entity.area track by $index" ng-click="areaSelect(area)">{{ area }}</a>
		</div>
	</div>

	<div class="hbox m-b">
		<div class="col col-xs-2 col-md-1 m-n v-middle">
			<label for="" class="control-label">分类</label>
		</div>
		<div class="col col-xs-10 col-md-11">
			<a class="btn m-xs r-3x btn-hover-red" ng-class="{'btn-success': entity.classifySelected == classify}" ng-repeat="classify in entity.classify track by $index" ng-click="classifySelect(classify)">{{ classify }}</a>
		</div>
	</div>

	<div class="m-b" ng-if="options.search">
		<div ng-if="!entity.searchResults">
			<i class="fa fa-spin fa-spinner"></i>
			<span>加载中</span>
		</div>
		<div ng-if="entity.searchResults">
			<div class="h bg-primary font-bold text-title padder-v-sm">
				<span class="v-middle m-sm">搜索结果</span>
			</div>
			<div class="padder-sm padder-v-sm text-info" ng-if="entity.searchResults && entity.searchResults.length == 0">
				没有符合条件的人员信息
			</div>
			<div>
				<div ng-repeat="result in entity.searchResults track by $index">
					<div class="hbox">
						<a ui-sref="app.hr.staffInfo({staffId:result.id})">
							<span class="col-xs-8 text-32">{{ result.NAME }}</span>
							<small class="col-xs-8 text-22 m-t-sm">{{ result.totalName }}</small>
						</a>
						<a class="btn btn-default pull-right v-middle" ng-click="collectionConfirm(result)">关注</a>
					</div>
					<hr class="b-b b-primary b-2x">
				</div>
			</div>
		</div>
	</div>
</div>