<title-bar name="国家选择"></title-bar>

<div class="wrapper pos-rlt">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="countrySelDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">国家选择</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="" class="control-label">选择</label>
						<input type="text" class="form-control" conow-cascade-select titles="vm.titles" url="vm.url" ng-model="vm.sel">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>