<title-bar name="国家选择"></title-bar>

<div class="wrapper pos-rlt">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="countryCascadeSelDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">国家级联选择</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="" class="control-label">选择</label>
						<input type="text" class="form-control" conow-country-cascade-select ng-model="vm.sel">
					</div>

					<pre>{{ vm | json }}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>调用指令：<code>conow-country-cascade-select</code></li>
						<li>调用方式：<code>&lt;input type="text" class="form-control" conow-country-cascade-select ng-model="vm.sel"&gt;</code></li>
						
					</ol>

				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="countrySelDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">国家选择</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="" class="control-label">选择</label>
						<input type="text" class="form-control" conow-country-select ng-model="vm.sel">
					</div>

					<pre>{{ vm | json }}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>调用指令：<code>conow-country-select</code></li>
						<li>调用方式：<code>&lt;input type="text" class="form-control" conow-country-select ng-model="vm.sel"&gt;</code></li>
						
					</ol>

				</div>
			</div>
		</div>

	</div>
</div>