<div class="conow-stepper-container">
    <style>
    @media (max-width: 767px) {
        .b-bottom {
            border-bottom: 1px solid #ccc!important;
        }
        .stepper-box-outer {
            /*float: right;*/
            padding: 5px 0;
            /*width: 158px;*/
        }
        .cn-form .form-group .lh45 {
            line-height: 45px!important;
        }
    }

    .stepper-box-outer {
        padding: 5px 0;
        width: auto !important;
    }
    
    .stepper-box {
        width: 35px;
        height: 35px;
    }

    .stepper-box-left {
        margin-right: -5px;
    }

    .stepper-box-right {
        margin-left: -5px;
    }
    
    .stepper-minus {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 33px;
        border: 1px solid #cdcdcd;
        border-right: none;
        color: #4d4d4d;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 24px;
    }
    
    .stepper-plus {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 33px;
        border: 1px solid #cdcdcd;
        border-left: none;
        color: #4d4d4d;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 24px;
    }
    
    .stepper-input {
        padding-left: 10px; 
        padding-right: 0 !important;
        height: 35px !important;
        border: 1px solid #cdcdcd;
        color: #5cb8e6;
        text-align: center!important;
        line-height: 33px !important;
        vertical-align: top;
        min-width: 2em; 
        max-width: 10em;
    }
    .b-r-none {
        border-right: none !important;
    }
    .stepper-disabled {
        cursor: not-allowed;
    }
    .stepper-addon {
        display: inline-block; 
        border-radius: 0;
        background-color: #fff;
        border: 1px solid #cdcdcd;
        border-left: none;
        font-size: 17px;
        padding: 0px 10px 0px 0px;
        padding-right: 10px !important;
        line-height: 33px;
        margin-left: -5px;
    }
    .stepper-addon-place-holder {
        display: inline-block; 
        border-radius: 0;
        background-color: #fff;
        border: 1px solid #cdcdcd;
        border-left: none;
        font-size: 17px;
        padding: 0px 10px 0px 0px;
        padding-right: 10px !important;
        line-height: 33px;
        margin-left: -5px;
        width: 5px;
        height: 35px;
        vertical-align: top;
    }
    </style>
    <div class="text-lg stepper-box-outer">
        <div class="inline v-middle text-center cursor-h stepper-box stepper-box-left" ng-click="minusNum()" ng-class="{'disabled': inputVal == options.min}">
            <span class="stepper-minus">
              <!-- <i class="ion-minus-round l-h-0x" ng-class="{'stepper-disabled': inputVal == options.min}"></i> -->
              <i class="fa fa-minus l-h-0x" ng-class="{'stepper-disabled': vm.inputVal == options.min}"></i>
           </span>
        </div>
        <div class="inline text-primary-dker v-middle">
              <input type="text" pu-elastic-input class="text-center stepper-input text-primary b-r-none" ng-model="vm.inputVal" ng-blur="numberBlur($event)" ng-keydown="numberKeydown($event)" /> 
              <span class="stepper-addon-place-holder" ng-if="options.unitName.length == 0"></span>
              <span class="stepper-addon"  ng-if="options.unitName.length > 0" ng-class="{'no-padder': options.unitName.length == 0}" ng-bind="options.unitName"></span>           
        </div>
        <div class="inline v-middle text-center cursor-h stepper-box stepper-box-right" ng-click="addNum()" ng-class="{'disabled': inputVal == options.max}">
          <span class="stepper-plus">
            <!-- <i class="ion-plus-round l-h-0x" ng-class="{'stepper-disabled': inputVal == options.min}"></i> -->
            <i class="fa fa-plus l-h-0x" ng-class="{'stepper-disabled': vm.inputVal == options.max}"></i>
          </span>
        </div>
    </div>
</div>
