
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="row">
				<label>
					<input ng-model="isAllSelected" type="checkbox" ng-click="allClick()" ng-checked="isSelectedAll()" ng-change="allChange()">
				</label>
			</th>
			<th ng-repeat="key in colsKey">{{ key }}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in params.items">
			<th scope="row">
				<input type="checkbox" ng-click="oneClick($index)" ng-checked="isAllSelected || inArr(arrSelected, item)">{{ $index + 1 }}
			</th>
			<td ng-repeat="value in colsValue">{{ item[value] }}</td>
		</tr>
	</tbody>
</table>
