<style>
	.modal-body {
		height: 400px;
		overflow: auto;
	}
</style>

<div class="modal-header">
	<div ng-if="!options.isPC">
		<a class="modal-title" ng-click="cancel()"><i class="fa fa-angle-left text-2x"></i></a>
		<a class="pull-right text-2x text-primary" ng-click="confirm()">确定</a>
	</div>
	<div ng-if="options.isPC">
	  <span class="modal-title h3" ng-bind="params.title"></span>
	  <a class="glyphicon glyphicon-remove pull-right" ng-click="close()"></a>	
	</div>

</div>
<div class="modal-body">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="row">
					<label>
						<input type="checkbox">
					</label>
				</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<th scope="row">
					<input type="checkbox">{{ $index + 1 }}
				</th>
				<td>{{ item.firstName }}</td>
				<td>{{ item.lastName }}</td>
				<td>{{ item.userName }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<div ng-if="options.isPC">
		<button type="button" class="btn btn-success" ng-click="confirm()">确定</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
	</div>
</div>