
<modal-body class="no-scoll">
	<style>
		.sub-label {
			display: inline-block;
			width: 12%;
			vertical-align: middle;
			margin-right: 10px;
			color: #000;
		}
		.sub-label.active {
			color: #5BB9E7;
			/*background-color: #FAFAFB;*/
		}

		.no-scoll {
			overflow: hidden; 
		}
		.search-group {
			position: absolute;
			width: 100%;
		}
		.search-group input {
			display: block;
			padding-left: 25px;
		}
		.search-group .search-group-btn {
			position: absolute;
			left: 10px;
			top: 17px;
			margin-left: 10px;
			margin-right: 5px;
			padding: 0;
			background: transparent;
			border: none;
			color: #cacaca;
		}
		.country-label {
			font-size: 18px;
		}
		.country-content {
			font-size: 17px;
			background-color: #dfeaf2;
		}
		.country-name { display: inline-block; padding: 10px; }
		.country-label a:hover, .country-name:hover { color: #23b7e5;}
		.w-p-5 { width: 15%; }
		.country-expand-icon { color: #acacac; }
		.country-sel-body { position: relative; top: 55px; height: 300px; overflow: auto; }
	</style>

	<div>
		<div class="search-group p-sm">
			<input ng-model="vm.searchKey" type="text" class="form-control" ng-change="enterPress($event)" placeholder="请输入关键字...">
			<button type="button" class="search-group-btn" ng-click="searchClick($event)" tabindex="-1">
				<!-- <i class="fa ion-ios-search"></i> -->
				<i class="fa fa-search"></i>
			</button>
		</div>

		<div class="country-sel-body">
			<ul class="list-group list-unstyled">
				<div ng-repeat="group in vm.groupData track by $index">
					<li class="list-group-item country-label" ng-click="group.expanded = !group.expanded">
						<a href="#" class="inline w-p-5" ng-repeat="item in group track by $index" ng-bind="item.label" ng-click="labelClick($event, item, group)" ng-if="item.children.length > 0"></a>
						<i class="fa fa-angle-down pull-right"></i>
					</li>
					<!-- <div class="country-content" ng-repeat="item in group track by $index" ng-if="group.expanded">
						<span class="btn btn-default country-name" ng-repeat="child in item.children track by $index" ng-bind="child.VALUE" ng-click="countryClick($event, child)"></span>
					</div> -->
					<div class="country-content">
						<span class="btn btn-default country-name" ng-repeat="item in vm.contentData[$index] track by $index" ng-bind="item.VALUE" ng-click="countryClick($event, item)"></span>
					</div>
				</div>
			</ul>
		</div>
	</div>
</modal-body>

<modal-btn>
	<a href="#" class="btn btn-bar-success" ng-click="confirm($event)">确定</a>
</modal-btn>