<div ng-controller="tabsTestCtrl">
	<button class="btn btn-primary m-l-sm m-t-sm" skip-click="1">跳转到标签1</button>
	<button class="btn btn-primary m-l-sm m-t-sm" skip-click="2">跳转到标签2</button>
	<button class="btn btn-primary m-l-sm m-t-sm" skip-click="3">跳转到标签3</button>
	<button class="btn btn-primary m-l-sm m-t-sm" ng-click="skip(4)">JS方法跳转到标签4</button>
	<button class="btn btn-success m-l-sm m-t-sm" ng-click="show(1)">显示</button>
	<button class="btn btn-dark m-l-sm m-t-sm" ng-click="hide(1)">隐藏</button>
	<!-- <button class="btn btn-danger m-l-sm m-t-sm" ng-click="add('标签5')">添加标签页</button> -->
</div>