<title-bar name="级联选择"></title-bar>

<div class="wrapper-md pos-rlt">
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-info" ng-controller="cascadeSelDemoCtrl">
			<div class="panel-heading">
				<div class="panel-title">通用级联选择</div>
			</div>
			<div class="panel-body bg-white">
				<div class="form-group">
					<label for="" class="control-label">选择</label>
					
					<input type="text" class="form-control" cascade-sel titles="titles" data="data" url="'views/components/cascade-sel/data/data.json'" ng-model="entity.selected">
				</div>

				<!-- <div class="form-group">
					<label for="" class="control-label">选择</label>
					
					<button type="button" class="btn btn-primary" cascade-sel>
						选择
					</button>
				</div> -->
			</div>
		</div>
	</div>
</div>