
<title-Bar name="btns group demo"></title-Bar>

<div class="form-control" ng-controller="btnsGroupCtrl">
	<h3>Buttons Group</h3>

	<form name="form" class="bs-example" novalidate>
		<div class="form-group">
			<label for="userName" class="control-label">用户名</label>
			<input type="text" id="userName" name="userName" class="form-control" ng-model="entity.userName" required>
		</div>

		<div>
			<label for="password" class="control-label">密码</label>
			<input type="text" id="password" name="password" class="form-control" ng-model="entity.password" required>
		</div>

		<!-- <btnsgroup></btnsgroup> -->
		<!-- <div btnsgroup data-params-save="{'type': 'post','url': 'users/signin', 'redirectUrl': 'app/form/selectForm'}" params-submit="submitFunc();"></div> -->
		<div btnsgroup data-params-save="users/signin, app/form/selectForm" data-params-submit="{'type': 'post','url': 'users/signin', 'redirectUrl': 'app/form/selectForm'}"></div>
	</form>
</div>