
<style>
	.b-split {
		border-color: #dcedf5;
	}
	.btn-danger-square {
		background-color: #FFFFFF;
		color: #F05050;
		border: 1px solid #F05050;
	}
	.btn-danger-square:hover {
		color: #F05050;
		font-weight: bold;
		border: 2px solid #F05050;
	}
	
</style>

<div ng-controller="OrgStaffsCtrl">
	<div class="m-t">
		<div ng-repeat="staff in orgStaffs track by $index">
			<div class="hbox">
				<div class="col v-middle">
					<a ng-click="showDetailInfo(staff)">
						<span class="text-base m">{{ staff.NAME }}</span>
						<span class="text-xs">{{ staff.JOBS_ID_HR_JOBS_INFO }}</span>
					</a>
				</div>
				<div class="col v-middle">
					<a class="btn pull-right btn-danger-square" ng-click="collectionConfirm(staff)">关注</a>
				</div>
			</div>
			<hr class="b-b b-split">
		</div>
	</div>
</div>