
<title-bar name="延迟搜索"></title-bar>

<div class="wrapper pos-rlt">
	<div class="col-md-6 col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">组件演示</div>
			</div>
			<div class="panel-body">
				
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>

	<div class="col-md-6 col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">参数说明</div>
			</div>
			<div class="panel-body">
				
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</div>