
<style>
	.text-4x {
		font-size: 8em;
	}
	.h-full {
		height: 100px;
	}
	.btn-danger-square {
		background-color: #FFFFFF;
		color: #F05050;
		border: 1px solid #F05050;
	}
	.btn-danger-square:hover {
		color: #F05050;
		font-weight: bold;
		border: 2px solid #F05050;
	}
	.collections-items:hover {
		background-color: #DCD2D2;
	}
</style>
<div class="no-padder">
	<div class="hbox padder" ng-if="options.isLoading">
		<i class="fa fa-spin fa-spinner m-r-sm"></i>
		<span>加载中</span>
	</div>
	<div ng-if="!options.isLoading && options.collectionNone" class="hbox padder-md text-center v-middle">
		<div class="h-full"></div>
		<div class="">您目前还没有任何关注的人或组织</div>
		<div class="m-t-sm">
			<a class="text-success" ng-click="addCollection()">
				<div>
					<i class="fa fa-plus-circle text-4x"></i>
				</div>
				<div class="m-t-sm">
					添加联系人或组织
				</div>
			</a>
		</div>
	</div>

	<div ng-if="!options.isLoading && !options.collectionNone">
		<!-- <div class="hbox padder-md"> -->
			<!-- <div class="input-group"> -->
				<!-- <button type="button" class="form-control btn input-lg r-3x bg-white" ng-model="query" ng-keyup="enterPress($event)" ng-click="openSearchModal()">
					<i class="fa fa-search m-r-xs"></i>搜索
				</button> -->
				<!-- <div class="input-group-btn">
				  <button type="button" class="btn btn-primary input-lg r-3x" tabindex=-1>
						<i class="fa fa-search"></i>
				  </button>  	  	
				</div> -->
		  <!-- </div> -->
		<!-- </div> -->

		<div class="hbox m-t-xs m-b-xs bg-primary lter text-base">
			<a class="col bg-primary text-base font-bold padder-sm padder-v-sm" ng-click="options.collectionOrgExpand = !options.collectionOrgExpand">
				<span>关注的组织(</span>
				<span class="text-danger"> {{ collections.orgs.length }}</span>
				<span>)</span>
				<i class="fa text-xlg p-r pull-right" ng-class="{true: 'fa-angle-down', false: 'fa-angle-right'}[options.collectionOrgExpand]"></i>
			</a>
		</div>
		<div class="collections" ng-show="options.collectionOrgExpand">
			<div class="" ng-repeat="org in collections.orgs | orderBy:'groupCode' track by $index">
				<div class="hbox b-b padder-v-sm">
					<a class="col collections-items" ng-click="showOrgInfo(org, 'org')">
						<div class="padder-sm">
							<div>
								<span class="text-base">{{ org.ORG_UNIT_NAME }}</span>
							</div>
							<div>
								<span class="m-t-xs text-xs">{{ org.ORG_TOTAL_NAME }}</span>	
							</div>
						</div>
					</a>
					<!-- <div class="col v-middle">
						<button type="button" class="btn btn-danger-square pull-right">取消关注</button>
					</div> -->
				</div>
			</div>
		</div>

<!-- 		<div class="hbox m-t-sm m-b-md bg-primary lter text-base">
			<a class="col bg-primary text-base font-bold padder-sm padder-v-sm" ng-click="options.collectionPersonExpand = !options.collectionPersonExpand">
				<span>关注的人(</span>
				<span class="text-danger font-bold"> {{ collections.persons.length }}</span>
				<span>)</span>
				<i class="fa text-xlg p-r pull-right" ng-class="{true: 'fa-angle-down', false: 'fa-angle-right'}[options.collectionPersonExpand]"></i>
			</a>
		</div>
		<div class="collections" ng-show="options.collectionPersonExpand">
			<div class="padder-sm" ng-repeat="person in collections.persons | filter:query track by $index">
				<div class="hbox">
					<a class="col collections-items" ng-click="showDetailInfo(person, 'person')">
						<div>
							<span ng-class="text-base">{{ person.name }}</span>
						</div>
						<div>
							<span class="m-t-xs text-xs">{{ person.fullName }}</span>
						</div>
					</a>
				</div>
				<hr class="b-b b-split">
			</div>
		</div> -->

		<div class="m-b" ng-repeat="group in collections.personsGroup track by $index" ng-show="group.persons.length > 0">
			<div class="hbox m-t-sm m-b-sm bg-primary lter text-base">
				<a class="col bg-primary dker text-base font-bold padder-sm padder-v-sm" ng-click="group.expanded = !group.expanded">
					<span class="text-base">{{ group.label }}(</span>
					<span class="text-danger"> {{ group.persons.length }}</span>
					<span>)</span>
					<i class="fa text-xlg p-r pull-right" ng-class="{true: 'fa-angle-down', false: 'fa-angle-right'}[group.expanded]"></i>
				</a>
			</div>
			<div ng-if="group.expanded">
				<div class="hbox b-b m-xs">
					<a class="col text-center font-bold padder-sm padder-v-sm" ng-class="{'bg-primary': subLabel == group.selectedSub }" ng-repeat="subLabel in group.subLabels" ng-click="collectionPersonFilter(group, subLabel)">
						<span class="text-center text-base">
							{{ subLabel }}
						</span>
						<!-- <span class="col bg-primary" ng-if="!$last">&nbsp;</span> -->
					</a>
				</div>
				<div class="" ng-if="person.GROUPCODE == group.selectedSub" ng-repeat="person in group.persons | filter:query track by $index">
					<div class="hbox b-b padder-v-sm">
						<!-- <a class="col collections-items" ui-sref="app.oa.chat({staffId:'{{person.FOLLOW_ITEM}}'})"> -->
						<a class="col collections-items" ng-click="showStaffInfo(person)">
							<div class="col pull-left padder-sm">
								<img ng-src="{{person.PHOTO}}" alt="">
								
								<!-- <span class="thumb-header avatar">
									<img ng-src="{{ person.PHOTO }}" alt="..." class="thumb-xxs b-2x b-primary header-img" style="width: 40px;height: 40px;border:2px solid #F00B0B;">
								</span> -->
							</div>
							<div class="col padder padder-v m-l-xxl v-middle">
								<div>
									<span ng-class="text-base">{{ person.NAME }}</span>
								</div>
								<div>
									<span class="m-t-xs text-xs">{{ person.ORG_TOTAL_NAME }}</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>