
<style>
	.text-32 {
		font-size: 32px;
	}
	.text-22 {
		font-size: 22px;
	}
	.btn-danger-square {
		background-color: #FFFFFF;
		color: #F05050;
		border: 1px solid #F05050;
	}
	.btn-danger-square:hover {
		color: #F05050;
		font-weight: bold;
		border: 2px solid #F05050;
	}
	.b-split {
		border-color: #dcedf5;
	}
	.btn-danger-square2 {
		color: #e5cfd6;
		border: 1px solid #e5cfd6;
	}
	.btn-danger-square2:hover {
		color: #e5cfd6;
		font-weight: bold;
		border: 2px solid #e5cfd6;
		cursor: not-allowed;
	}
</style>
<div>
	<div class="hbox padder-md">
		<div class="input-group">
			<input type="text" class="form-control input-lg r-3x" ng-model="entity.searchKey" ng-keyup="enterPress($event)" placeholder="搜索">
			<div class="input-group-btn">
			  <button type="button" class="btn btn-primary input-lg r-3x" tabindex=-1 ng-click="enterPress($event, 'btn')">
					<i class="fa fa-search"></i>
			  </button>  	  	
			</div>
	  </div>
	</div>

	<div class="hbox m-t-sm padder-md">
	  <div class="col radio">
	    <label class="i-checks text-base">
	      <input type="radio" name="personSearchType" ng-model="entity.searchType" value="name" ng-click="trigSearch()"><i></i>姓名快速搜索
	    </label>
	  </div>
	  <div class="col radio">
	    <label class="i-checks text-base">
	      <input type="radio" name="personSearchType" ng-model="entity.searchType" value="fullText" ng-click="trigSearch()"><i></i>全文模糊搜索
	    </label>
	  </div>
	</div>
	<div class="hbox m-t-sm" ng-if="options.search">
		<div class="padder-md" ng-if="!entity.searchResults">
			<i class="fa fa-spin fa-spinner"></i>
			<span>加载中</span>
		</div>
		<div ng-if="entity.searchResults">
			<div class="hbox bg-primary text-base font-bold padder-sm padder-v-sm">
				<div class="col">
					<span>搜索结果</span>
				</div>
			</div>
			<div class="hbox padder-sm padder-v-sm font-bold" ng-if="entity.searchResults && entity.searchResults.length == 0">
				没有符合条件的人员信息
			</div>
			<div class="search-result m-t">
				<div ng-repeat="result in entity.searchResults track by $index">
					<div class="hbox padder">
						<a class="col" ng-click="showStaffInfo(result)">
							<div>
								<span class="text-base">{{ result.NAME }}</span>
							</div>
							<div>
								<span class="text-xs m-t-sm">{{ result.totalName }}</span>
							</div>
						</a>
						<div class="col v-middle">
							<a class="btn pull-right btn-danger-square" ng-show="!result.isInCollection" ng-click="collectionConfirm(result, 'add')">关注</a>
							<a class="btn pull-right btn-danger-square2" ng-show="result.isInCollection" ng-click="">已关注</a>
						</div>
					</div>
					<hr class="b-b b-split">
				</div>
			</div>
		</div>
	</div>
</div>