
<div>
	<div class="hbox padder-md">
		<div class="input-group text-md">
			<input type="text" class="form-control r-3x" ng-model="entity.searchKey" ng-keyup="enterPress($event)" placeholder="搜索">
			<div class="input-group-btn">
			  <button type="button" class="btn btn-primary r-3x" tabindex=-1 ng-click="enterPress($event, 'btn')">
					<i class="fa fa-search"></i>
			  </button>  	  	
			</div>
	  </div>
	</div>

	<div class="hbox m-t-sm padder-md">
	  <div class="col radio">
	    <label class="i-checks text-md">
	      <input type="radio" name="personSearchType" ng-model="entity.searchType" value="name" ng-click="trigSearch()"><i></i>姓名快速搜索
	    </label>
	  </div>
	  <div class="col radio">
	    <label class="i-checks text-md">
	      <input type="radio" name="personSearchType" ng-model="entity.searchType" value="fullText" ng-click="trigSearch()"><i></i>全文模糊搜索
	    </label>
	  </div>
	</div>
	<div class="hbox m-t-sm" ng-if="options.search">
		<div class="padder-md" ng-if="!entity.searchResults">
			<i class="fa fa-spin fa-spinner"></i>
			<span>加载中</span>
		</div>
		<div ng-if="entity.searchResults">
			<div class="hbox bg-primary text-base font-bold padder-sm padder-v-sm">
				<div class="col">
					<span class="text-md">搜索结果</span>
				</div>
			</div>
			<div class="hbox padder-sm padder-v-sm font-bold text-md" ng-if="entity.searchResults && entity.searchResults.length == 0">
				没有符合条件的人员信息
			</div>
			<div class="search-result">
				<div ng-repeat="result in entity.searchResults track by $index">
					<div class="hbox p b-b">
						<!-- <a class="col" ng-click="showStaffInfo(result)"> -->
						<a conow-modal 
			               full="true"
			               size="lg"
						   url="app/business/cam/staffdetail/staff-info.html" 
						   controls="StaffInfoCtrl" 
						   ng-click="showStaffInfo(result, 'staff')" 
						   class="v-middle padder-v-xs"
						>	
							<div>
								<span class="text-md">{{ result.NAME }}</span>
							</div>
							<div>
								<span class="text-sm m-t-sm">{{ result.totalName }}</span>
							</div>
						</a>
						<div class="col col-p-sm v-middle">
							<a class="btn pull-right btn-danger-square" ng-show="!result.isInCollection" ng-click="follow(result, 'add')">关<span class=""></span>注</a>
							<a class="btn pull-right btn-danger-square" ng-show="result.isInCollection" ng-click="unFollow(result, 'staff')">取消关注</a>
						</div>
					</div>
					<!-- <hr class="b-b b-split"> -->
				</div>
			</div>
		</div>
	</div>
</div>