<modal-body>
	<style>
	  .cascade-sel:hover, .cascade-sel:hover, .cascade-sel:hover {
	    color: #F99696;
	  }
	  .area-selected:hover {
	    cursor: pointer;
	  }
	</style>

	<conow-tabs>
		<conow-tabs-titles theme="3" class="">
			<conow-tabs-titles-diy show="true" class="w-p-3 m-n" class-a="bg-white">
				<span class="text-base font-bold">{{ titles[0] }}</span>
			</conow-tabs-titles-diy>
			<conow-tabs-titles-diy class="w-p-3 m-n" class-a="bg-white">
				<span class="text-base font-bold">{{ titles[1] }}</span>
			</conow-tabs-titles-diy>
			<conow-tabs-titles-diy class="w-p-3 m-n" class-a="bg-white">
				<span class="text-base font-bold">{{ titles[2] }}</span>
			</conow-tabs-titles-diy>
		</conow-tabs-titles>

		<conow-tabs-content>
			<conow-tabs-content-text>
				<div ng-if="dataLevel1.length == 0">没有可选项</div>
				<a href="#" class="btn m cascade-sel" ng-class="{'btn-success': indexInArr(item, selected) > -1}" skip-click=1 ng-click="select($event, '1', item)" ng-repeat="item in dataLevel1 track by $index">{{ item.name }}</a>
			</conow-tabs-content-text>
			<conow-tabs-content-text>
				<div ng-if="dataLevel2.length == 0">没有可选项</div>
				<a href="#" class="btn m cascade-sel" ng-class="{'btn-success': indexInArr(item, selected) > -1}" skip-click=2 ng-click="select($event, '2', item)" ng-repeat="item in dataLevel2 track by $index">{{ item.name }}</a>
			</conow-tabs-content-text>
			<conow-tabs-content-text>
				<div ng-if="dataLevel3.length == 0">没有可选项</div>
				<a href="#" class="btn m cascade-sel" ng-class="{'btn-success': indexInArr(item, selected) > -1}" ng-click="select($event, '3', item)" ng-repeat="item in dataLevel3 track by $index">{{ item.name }}</a>
			</conow-tabs-content-text>
		</conow-tabs-content>
	</conow-tabs>
</modal-body>

<modal-btn>
	<a class="btn btn-bar-success" ng-click="confirm()">确定</a>
</modal-btn>