<title-bar name="validator demo">
  <div class="pull-right .m-r-md">
<!--     <button type="submit" class="btn m-r-sm w-xs btn-primary">提交</button>
    <input type="button" value="暂存" class="btn m-r-sm w-xs btn-dark"/> 
    <input type="button" value="删除" class="btn m-r-sm w-xs btn-danger"/> -->
  </div>
</title-bar>

<div class="wrapper-md pos-rlt">
  <div class="row">
  	<div class="col-sm-12 col-md-6">
  		<div class="panel panel-info">
  			<div class="panel-heading">
  				<div class="panel-title">地区组件</div>
  			</div>
  			<div class="panel-body" ng-controller="AreaSelCtrl">
  				<form action="">
            <div class="form-group">
              <label for="area1" class="contral-label">选择地区</label>
              <input type="text" class="form-control" name="area1" id="area1" ng-model="entity.area">
            </div>
  					<div class="form-group">
  						<label for="area1" class="contral-label">选择地区2</label>
  						<input type="text" class="form-control" name="area2" id="area2" conow-area ng-model="entity.area2" select-level >
  					</div>

            <!-- <pre>{{ entity.arr | json }}</pre> -->
            <!-- <pre>{{ entity.arr | areaFilter: 'province' | json }}</pre> -->

            <!-- <pre>{{ regionMap | json }}</pre> -->

            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="test()">测试</button>
            </div>
            <pre>{{ entity.cityGroup | json }}</pre>

  				</form>
  			</div>
  		</div>
  	</div>
  </div>
</div>

<div>
  
</div>