<title-bar name="area select demo">
  <div class="pull-right .m-r-md">
<!--     <button type="submit" class="btn m-r-sm w-xs btn-primary">提交</button>
    <input type="button" value="暂存" class="btn m-r-sm w-xs btn-dark"/> 
    <input type="button" value="删除" class="btn m-r-sm w-xs btn-danger"/> -->
  </div>
</title-bar>

<div class="wrapper-md pos-rlt">
  <div class="row">
  	<div class="col-sm-12 col-md-6">
  		<div class="panel panel-info">
  			<div class="panel-heading">
  				<div class="panel-title">地区组件</div>
  			</div>
  			<div class="panel-body" ng-controller="AreaSelCtrl">
  				<form action="">
            <div class="form-group">
              <label for="area1" class="control-label">选择地区（市）</label>
              <input type="text" class="form-control" name="area1" id="area1" conow-area ng-model="entity.area">
            </div>
  					<div class="form-group">
  						<label for="area1" class="control-label">选择地区（级联）</label>
  						<input type="text" class="form-control" name="area2" id="area2" conow-area ng-model="entity.area2" select-level select-type="2">
  					</div>

            <!-- <pre>{{ entity.arr | json }}</pre> -->
            <!-- <pre>{{ entity.arr | areaFilter: 'province' | json }}</pre> -->

            <!-- <pre>{{ regionMap | json }}</pre> -->

            <div class="form-group">
              <!-- <button type="button" class="btn btn-primary" ng-click="test()">测试</button> -->
            </div>
            <pre>{{ entity | json }}</pre>

  				</form>
  			</div>
  		</div>
  	</div>

    <div class="col-sm-12 col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">使用说明</div>
        </div>
        <div class="panel-body">
          <ol>
            <li>使用属性 <code>conow-area</code> 可使用地区选择组件</li>
            <li>选择分为市一级选择（不提供 <code>select-type</code> 或者 <code>select-type != 2</code>）
              和省-市-区分段选择（<code>select-type = 2</code>）</li>
            <li>只选择市的功能使用了<code>conowAreaTree</code>指令，类似于树的节点数据</li>
            <li>省-市-区分段选择的功能用到了<code>conowTabs</code>指令，提供分段的标签</li>
            <li>用到的数据通过服务<code>AreaService</code>读取对应的数据文件提供，方法位于<code>area-services.js</code></li>
            <li><code>controller</code>和<code>service</code>中用到的数据过滤的方法位于<code>area-filters.js</code></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  
</div>