<style>
  .province-sel:hover, .city-sel:hover, .county-sel:hover {
    color: #F99696;
  }
</style>
<div class="row">
  <div >
    <div class="wrapper-md">
      <div class="b-a bg-light lter r r-2x">

        <div class="modal-header">
          <div class="modal-op">
            <a class="fa fa-angle-left pull-left text-2x pos-fix sm-go-back" ng-click="cancel()"></a>
            <a class="pull-right text-primary sm-confirm" ng-click="confirm()">确定</a>
            <a class="glyphicon glyphicon-remove pull-right md-close" ng-click="close()"></a>
            <div class="text-center text-lg text-2x sel-title font-bold">请选择</div>
          </div>
        </div>
        <div class="modal-body">
          <div class="m-sm m-l-xs">
            <span class="m-sm">已选择：</span>
            <span class="text-primary">{{ entity.selectedLabel }}</span>
          </div>
          <div class="area-cascade-sel">
            <conow-tabs>
              <conow-tabs-titles>
                <conow-tabs-titles-text title="省份" show="true"></conow-tabs-titles-text>
                <conow-tabs-titles-text title="城市"></conow-tabs-titles-text>
                <conow-tabs-titles-text title="县区"></conow-tabs-titles-text>
              </conow-tabs-titles>

              <conow-tabs-content>
                <!-- <conow-tabs-content-url url="views/components/conow-area/tpls/province.html">111</conow-tabs-content-url> -->
                <conow-tabs-content-text>
                  <a href="" class="btn m province-sel" ng-class="{true: 'btn-success', false: ''}[entity.areaSelected.province.code == province.code]" ng-repeat="province in entity.provinces track by $index" skip-click=1 ng-click="areaSelect(province, 'province')">{{ province.label }}</a>
                </conow-tabs-content-text>
                <conow-tabs-content-text>
                  <a href="" class="btn m city-sel" ng-class="{true: 'btn-success', false: ''}[entity.areaSelected.city.code == city.code]" ng-repeat="city in entity.cities track by $index" skip-click=2 ng-click="areaSelect(city, 'city')">{{ city.label }}</a>
                </conow-tabs-content-text>
                <!-- <conow-tabs-content-url url="views/components/conow-area/tpls/province.html">111</conow-tabs-content-url> -->
                <conow-tabs-content-text>
                  <a href="" class="btn m county-sel" ng-class="{true: 'btn-success', false: ''}[entity.areaSelected.county.code == county.code]" ng-repeat="county in entity.counties track by $index" ng-click="areaSelect(county, 'county')">{{ county.label }}</a>
                </conow-tabs-content-text>
              </conow-tabs-content>
            </conow-tabs>
          </div>
        <div class="modal-footer footer-op">
          <button type="button" class="btn btn-success" ng-click="confirm()">确定</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        </div>

      </div>
    </div>
  </div>

</div> 