
<div class="row">
  <div >
    <div class="wrapper-md">
      <div class="b-a bg-light lter r r-2x">

        <div class="modal-header">
          <div class="modal-op">
            <a class="fa fa-angle-left pull-left text-2x pos-fix sm-go-back" ng-click="cancel()"></a>
            <a class="pull-right text-primary sm-confirm" ng-click="confirm()">确定</a>
            <a class="glyphicon glyphicon-remove pull-right md-close" ng-click="close()"></a>
            <div class="text-center text-lg text-2x sel-title font-bold">请选择</div>
          </div>
        </div>
        <div class="modal-body">
          <conow-area-tree 
            show-search
            req-url="data/bz/region.json" 
            tree-control="my_tree" 
            tree-data="treeData" 
            search-element="label"
            on-select="my_tree_handler(branch)" 
            multi-select
            arr-selected="arrBranchs"
            expand-level = 1 
            show-tree=true
            icon-expand
            device-type="phone"
            initial-selection="广东省"
            select-level="{{ treeOptions.selectLevel }}"
            >
          </conow-area-tree>
        </div>

        <div class="modal-footer footer-op">
          <button type="button" class="btn btn-success" ng-click="confirm()">确定</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        </div>

      </div>
    </div>
  </div>

</div> 