
<style>
	.conow-grid-button-group {
		margin-bottom: 10px;
		margin-left: 10px;
	}
</style>

<div class="conow-grid-advanced-search">	
	<advsearch-wrapper ng-if="options.isShowQuickSearch"
		config="filterOptions" 
		quick-search-key="{{options.quickSearchKey}}" 
		quick-search-tip="{{options.quickSearchTip}}">
	</advsearch-wrapper>

	<advsearch-wrapper ng-if="!options.isShowQuickSearch"
		config="filterOptions">
	</advsearch-wrapper>
</div>

<div class="conow-grid-operation" ng-transclude></div>

<div 
	ui-grid="options.gridOptions" 
	class="grid grid-instance" 
	ng-if="!options.isPagination && !options.isAllowSelection">
</div>

<div 
	ui-grid="options.gridOptions" 
	class="grid grid-instance" 
	ng-if="options.isPagination && !options.isAllowSelection">
</div>

<div 
	ui-grid="options.gridOptions" 
	ui-grid-selection 
	class="grid grid-instance" 
	ng-if="!options.isPagination && options.isAllowSelection">
</div>

<div 
	ui-grid="options.gridOptions" 
	ui-grid-selection 
	ui-grid-cellNav
	class="grid grid-instance" 
	autoResize 
	ng-if="options.isPagination && options.isAllowSelection">
</div>

<div 
	conow-pagination="options.paginationOptions" 
	current-page="options.paginationOptions.currentPage"
	ng-if="options.isPagination">
</div>