
<div>
<title-bar name="conow-grid"></title-bar>

<div-wrapper>
	<conow-block-form>
		<conow-block-group title="组件演示" is-pulldown="true" is-open="true">
		
			<conow-block class="">
				<div ng-controller="conowGridDemoCtrl">
    				<!-- <div class="conow-grid-button-group">
    					<button type="button" class="btn add" ng-click="">添加</button>
    					<button type="button" class="btn" ng-click="">导入</button>
    					<button type="button" class="btn" ng-click="">导出</button>
    				</div> -->
    				
    				
					<!-- <div class="hbox m-t-xs m-b-xs">
						<button class="btn btn-primary" ng-click="toggleAdSearchShow()">toggle AdSearch Show</button>
					</div> -->
					
					<!-- <div class="hbox" ng-if="options.isShowAdvancedFilter">
						<div ng-include="'other/demo/conow-responsive-table/conow-grid-filter-demo.html'"></div>
						
						<div class="text-center">
							<button class="btn btn-primary" ng-click="advancedSearchClick()">搜索</button>
							<button class="btn btn-default" ng-click="clearAdvancedSearchClick()">清空</button>
						</div>
					</div> -->
					
					<div class="hbox" class="m-t-xs">					
						<div conow-grid="gridOptions1" ng-if="vm.dictList">							
							<div class="conow-grid-button-group">
		    					<button type="button" class="btn add" ng-click="operAdd()">添加</button>
		    					<button type="button" class="btn" ng-click="operImport()">导入</button>
		    					<button type="button" class="btn" ng-click="operExport()">导出</button>
								<button type="button" class="btn" ng-click="operGetSelected()">获取已选项</button>
								<button type="button" class="btn" ng-click="gridReload()">重新加载</button>
		    				</div>							
						</div>					
					</div>
				</div>
			</conow-block>
		</conow-block-group>
		<!-- 
		<conow-block-group title="组件演示-不用分页" is-pulldown="true" is-open="true">

			<conow-block class="">
				<div ng-controller="conowGridDemoCtrl2">
					
					<div class="hbox" class="m-t-xs">					
						<div conow-grid="gridOptions" class="">
							<div class="conow-grid-button-group">
								<button type="button" class="btn" ng-click="operGetSelected()">获取已选项</button>
							</div>
						</div>					
					</div>
				</div>
			</conow-block>
		</conow-block-group>
		 -->
		 
		<conow-block-group title="示例代码" is-pulldown="true" is-open="false">
			<conow-tabs>
				<conow-tabs-titles theme="listMenu">
					<conow-tabs-titles-text title="HTML" show="true"></conow-tabs-titles-text>
					<conow-tabs-titles-text title="JS" show="false"></conow-tabs-titles-text>
				</conow-tabs-titles>
				<conow-tabs-content>
					<conow-tabs-content-text>
<div code-highlight code-type="html">
	&lt;div class="hbox" class="m-t-xs"&gt;					
		&lt;div conow-grid="gridOptions1" ng-if="vm.dictList"&gt;		&lt;!-- ng-if 只在保证json数据源的时候有用，当数据源是url时，需要去掉 --&gt;					
			&lt;div class="conow-grid-button-group"&gt;
  					&lt;button type="button" class="btn add" ng-click="operAdd()"&gt;添加&lt;/button&gt;
  					&lt;button type="button" class="btn" ng-click="operImport()"&gt;导入&lt;/button&gt;
  					&lt;button type="button" class="btn" ng-click="operExport()"&gt;导出&lt;/button&gt;
					&lt;button type="button" class="btn" ng-click="operGetSelected()"&gt;获取已选项&lt;/button&gt;
  			&lt;/div&gt;							
		&lt;/div&gt;					
	&lt;/div&gt;
</div>	
					</conow-tabs-content-text>
					<conow-tabs-content-text>
<div code-highlight code-type="js">
	/**
	 * conow-grid-demo controller
	 * */
	app.controller('conowGridDemoCtrl', ['$scope', 'DataService', 'conowModals', 'OperationService', '$state', 
		function($scope, DataService, conowModals, OperationService, $state) {
	
			var vm = $scope.vm = {},
				options = $scope.options = {
					isShowAdvancedFilter: false
				};
			
			$scope.operGetSelected = function() {
				console.log('已选项：', $scope.gridOptions1.conowGridInstance.getSelectedItems());
			}
			
			$scope.view = function(row) {			
				var modalInstance = conowModals.open({
					templateUrl: 'other/demo/conow-responsive-table/conow-grid-modal.html',
					controller: 'conowGridModalCtrl',
					title: 'conowGrid弹窗演示',
					size: 'lg',
					isFull: true,
					adaptive: true,
					isModalBox: true,
					resolve: {
						modalParams: function() {
							return {
								options: $scope.gridOptions1
							}
						},
						deps: ['uiLoad', function(uiLoad) {
							return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-modal-ctrl.js']);
						}]
					}
				});
				
				modalInstance.result.then(function(data) {
					console.log(data);
					
					$scope.gridOptions1.selectedItems = data;
					
					$scope.gridOptions1.conowGridInstance.reload();
				}, function(msg) {
					console.log(msg);
				});
			};
			
			$scope.setting = function(row) {
				alert('in setting-->' + JSON.stringify(row.entity));
			};
			
			$scope.del = function(row) {
				alert('in del-->', JSON.stringify(row.entity));
			};
	
			$scope.operAdd = function() {
				console.log('addddddddddddddddddd');
				$scope.gridOptions1.conowGridInstance.reload();
			};
	
			$scope.operImport = function() {
				console.log('Import');
			};
	
			$scope.operExport = function() {
				console.log('export');
			};
			
			// 查看流程图
	        $scope.showFlowChart = function (row){
	        	 var processDefinitionId = row.entity.id;
	        	 var modalInstance = conowModals.open({
	                 templateUrl: 'other/demo/conow-responsive-table/conow-grid-modal.html',
	                 controller:'conowGridModalCtrl',
	                 title:"弹出层示例",
	                 size: 'full',
	                 isFull:'true',
					 adaptive:'true',
	                 resolve: {
	                     modalParams: function () {
	                         return {
	                         	options: $scope.gridOptions1
	                         };
	                     },
	                     deps: ['uiLoad', function (uiLoad) {
	                         return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-modal-ctrl.js']);
	                     }]
	                 }
	             });
	             modalInstance.result.then(function (selectedItem) {
	                 //$scope.selected = selectedItem;
	             });
	        }        
	      
	        $scope.exportFlow =  function(row){
	        	var processDefinitionId = row.entity.id;
	        	var processDefinitionKey = row.entity.workKey;
	        	
	        	var url = baseUrl+'/service/processDefinition!exportFlow?processDefinitionId='+processDefinitionId+"&processDefinitionKey="+processDefinitionKey;
	        	
	        	return url;    	
	        	
	        }
	        
	        $scope.deleteDeploy = function (row) {
				var processDefinitionId = row.entity.id;
				var deploymentId = row.entity.deploymentId;
				var paramdata = {
						deploymentId: deploymentId,
						processDefinitionId:processDefinitionId
					};
				OperationService.interAction({
	    			actionUrl: '/service/processDefinition!deleteDeploy',
	    			data:paramdata,
	    			isShowConfirm:true,
	    			confirmTitle: '确认删除？',
	    			successTitle: '删除成功！',
	    			'isSuccessBack': false,
	    			'redirectState': 'app.activiti.activitiShow',
	    			'redirectParams': { 'TEMETEMP':new Date().getTime() }
				});
			}
	        
	        // 页面跳转
	        $scope.go = function(row) {
	        	$state.go('app.common.conowArea');
	        }
	        
	        $scope.getData = function() {
	        	DataService.getData('other/demo/conow-responsive-table/data/queryDictListByType.json')
	        		.then(function(data) {
	        			vm.dictList = data.obj;
	        			$scope.gridOptions1.json = data.obj;
	        		}, function(msg) {
	        			console.error(msg);
	        		});
	        }
	        
	        $scope.getData();
			
			$scope.gridOptions1 = {//queryJobsListByParams
					url: '/service/dict!queryDictListByType',
					json: vm.dictList,
					urlParams: { 'TYPE': 'DICT_OPTION'}, 
					isPagination: true,
	//				isServerPage: false,
					selectMode: 'multiply',
					columnDefs: [
					    { name: '序号', cellType: 'sequence' },
						{ name: '字典类名称', field: 'DICT_NAME', minWidth: '200', cellTooltip: function(row, col) {
							return row.entity.name;
						}  }, 
						{ name: '字典类编码', field: 'DICT_CODE', width: '200', cellTooltip: function(row, col) {
							return row.entity.workKey;
						} }, 
						{ name: '字典类说明', field: 'REMARK', width: 300, enableSorting: false }, 
						{ name: '字典类规则', field: 'DICT_TYPE', width: '200', enableSorting: false }, 
						{ name: '操作', field: '', width: 90, enableSorting: false, cellType: 'operation', 
							cellTemplate: '<div>' + 
								'<a class="" ng-click="grid.appScope.showFlowChart(row)" title= ""><i class="ci-seen"></i></a>' + 
								'<a class="" href="{{grid.appScope.exportFlow(row)}}" ><i class="ci-download"></i></a>' + 
								'<a class="" ng-click="grid.appScope.go(row)" ><i class="ci-share"></i></a>' + 
								'</div>' }
					],
					quickSearchTip:'请输入流程定义KEY',
					quickSearchKey: 'DICT_CODE',
					// 这里也可以不用传入操作绑定的方法
	//				showFlowChart: $scope.showFlowChart,
	//				exportFlow:$scope.exportFlow,
	//				deleteDeploy:$scope.deleteDeploy,
	//				go: $scope.go,
					filterOptions: '',
					rowSelectFn: function(row) {
						var modalInstance = conowModals.open({
			                 templateUrl: 'other/demo/conow-responsive-table/conow-grid-row-click-modal.html',
			                 controller:'conowGridRowClickModalCtrl',
			                 title:"弹出层示例",
			                 size: 'full',
			                 isFull:'true',
							 adaptive:'true',
			                 resolve: {
			                     modalParams: function () {
			                         return {
			                         	selected: row
			                         };
			                     },
			                     deps: ['uiLoad', function (uiLoad) {
			                         return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-row-click-modal-ctrl.js']);
			                     }]
			                 }
			             });
			             modalInstance.result.then(function (selectedItem) {
			                 //$scope.selected = selectedItem;
			             });
					}
				}
	
		}
	]);
</div>
					</conow-tabs-content-text>
				</conow-tabs-content>
			</conow-tabs>
			
		</conow-block-group>
		 
		<conow-block-group title="使用说明" is-pulldown="true" is-open="false">

			<conow-block class="padder-md">
				<div class="hbox" ng-controller="conowGridDemoInsCtrl">
					<ol>
						<li>指令调用：<code>&lt;div conow-grid="gridOptions1" class="grid"&gt;&lt;/div&gt;</code></li>
						
						<li>参数列表
							<table class="table">
								<thead>
									<tr>
										<th ng-repeat="th in vm.paramsList.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.paramsList.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>columnsDefs说明：<span class="text-danger">注意设置 width 属性时，不要所有的列都固定宽度，这样在浏览器改变大小时不能自动适应</span>
							<table class="table">
								<thead>
									<tr>
										<th ng-repeat="th in vm.columnsDefs.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.columnsDefs.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							列类型定义:(cellType)
							<table class="table">
								<thead>
									<tr>
										<th ng-repeat="th in vm.cellTypes.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.cellTypes.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>绑定列表内事件(grid.appScope)。							
							<ul>
								<li>绑定示例：<code>&lt;a class="" ng-click="grid.appScope.setting(row)"&gt;&lt;i class="ci-set"&gt;&lt;/i&gt;&lt;/a&gt;</code></li>
								<li>grid.appScope 是指令内部对业务 controller的引用</li>
								<li>setting 是业务controller中的方法</li>
								<li>方法内部可传入对应行的引用 row(要获取对应行的数据，必须使用 row.entity)</li>
								<li class="text-danger">初始化的配置参数中需要传入操作功能绑定的方法(可以不用传入绑定方法的改进方案还在测试中)</li>
							</ul>
						</li>
						<li>数据重载(表格数据刷新)
							<code>$scope.gridOptions1.conowGridInstance.reload();</code>
						</li>
						<li>操作按钮：(按钮绑定的事件由业务controller提供，没有操作功能不用提供，请不需要grid.appScope绑定)
<pre>
&lt;div conow-grid="gridOptions1" class="grid"&gt;
	&lt;div class="conow-grid-button-group"&gt;
		&lt;button type="button" class="btn add" ng-click="operAdd()"&gt;添加&lt;/button&gt;
		&lt;button type="button" class="btn" ng-click="operImport()"&gt;导入<&lt;/button&gt;
		&lt;button type="button" class="btn" ng-click="operExport()"&gt;导出&lt;/button&gt;
	&lt;/div&gt;	
&lt;/div&gt;
</pre>
						</li>
						<li>获取选中值
							<code>$scope.gridOptions1.conowGridInstance.getSelectedItems()</code>
						</li>
						<li>注意：
							<span class="text-danger">后台分页时，接口需要对排序进行处理</span>
						</li>
					</ol>
				</div>
			</conow-block>
	</conow-block-form>
</div-wrapper>