
<div>
<title-bar name="conow-grid"></title-bar>
<style>
ul.popup {
	min-width: 80px;
	max-width: 100px;
	background: #383a4c;
	position: absolute;
	padding: 0;
	list-style: none;
}

ul.popup > li > a {
	display: block;
	color: #fff;
	pading: 5px 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

ul.popup > li + li {
	border-top: 1px solid #fff;
}

@media(min-width: 768px) {
	.table.demo  td,
	.table.demo th {
		min-width: 100px;
	}
}
.text-danger2 {
	color: #f47566 !important;
}

.ui-grid-cell-contents label {
	margin-bottom: 0;
}

</style>
<div-wrapper>
	<conow-block-form>
		<conow-block-group title="组件演示" is-pulldown="true" is-open="true">
		
			<conow-block class="">
				<div ng-controller="conowGridDemoCtrl">
					
					<div class="hbox" class="m-t-xs">					
						<div conow-grid="gridOptions1" ng-if="vm.dictList">							
							<div class="conow-grid-button-group">
		    					<button type="button" class="btn add" ng-click="operAdd()">添加</button>
		    					<button type="button" class="btn" ng-click="operImport()">导入</button>
		    					<button type="button" class="btn" ng-click="operExport()">导出</button>
								<button type="button" class="btn" ng-click="operGetSelected()">获取已选项</button>
								<button type="button" class="btn" ng-click="gridReload()">重新加载</button>
		    				</div>							
						</div>		
					</div>
				</div>
			</conow-block>
		</conow-block-group>
		<!-- 
		<conow-block-group title="组件演示-不用分页" is-pulldown="true" is-open="true">

			<conow-block class="">
				<div ng-controller="conowGridDemoCtrl2">
					
					<div class="hbox" class="m-t-xs">					
						<div conow-grid="gridOptions" class="">
							<div class="conow-grid-button-group">
								<button type="button" class="btn" ng-click="operGetSelected()">获取已选项</button>
							</div>
						</div>					
					</div>
				</div>
			</conow-block>
		</conow-block-group>
		 -->
		 
		<conow-block-group title="示例代码" is-pulldown="true" is-open="false">
			<conow-tabs>
				<conow-tabs-titles theme="listMenu">
					<conow-tabs-titles-text title="HTML" show="true"></conow-tabs-titles-text>
					<conow-tabs-titles-text title="JS" show="false"></conow-tabs-titles-text>
				</conow-tabs-titles>
				<conow-tabs-content>
					<conow-tabs-content-text>
<div code-highlight code-type="html">
	&lt;div class="hbox" class="m-t-xs"&gt;					
		&lt;div conow-grid="gridOptions1" ng-if="vm.dictList"&gt;		&lt;!-- ng-if 只在保证json数据源的时候有用，当数据源是url时，需要去掉 --&gt;					
			&lt;div class="conow-grid-button-group"&gt;
  					&lt;button type="button" class="btn add" ng-click="operAdd()"&gt;添加&lt;/button&gt;
  					&lt;button type="button" class="btn" ng-click="operImport()"&gt;导入&lt;/button&gt;
  					&lt;button type="button" class="btn" ng-click="operExport()"&gt;导出&lt;/button&gt;
					&lt;button type="button" class="btn" ng-click="operGetSelected()"&gt;获取已选项&lt;/button&gt;
  			&lt;/div&gt;							
		&lt;/div&gt;					
	&lt;/div&gt;
</div>	
					</conow-tabs-content-text>
					<conow-tabs-content-text>
<div code-highlight code-type="js">
	/**
	 * conow-grid-demo controller
	 * */
	app.controller('conowGridDemoCtrl', ['$scope', 'DataService', 'conowModals', 'OperationService', '$state', '$rootScope', 'uiGridConstants', 
		function($scope, DataService, conowModals, OperationService, $state, $rootScope, uiGridConstants) {

			var vm = $scope.vm = {},
				options = $scope.options = {
					isShowAdvancedFilter: false
				};

			init();
			
			$scope.clickFn = function() {
				console.log('clicked');
//				$rootScope.$broadcast('tabClick.conowGrid');
			}

			$scope.getData = function() {
				getData();
			};
			
			$scope.combination = function(grid, row, col) {
				return '字典类名称:' + row.entity['DICT_NAME'] + ',code:' + row.entity['DICT_CODE'];
			}
			
			function init() {
				getData();

				$scope.filterOptions = {
		            contentUrl: 'other/demo/conow-responsive-table/conow-grid-filter-demo.html',
		            adSearch: null,
		            criteriaData: {
		            	
		            },
		            defaultParams: {
		               'DICT_CODE': 'HR_STAFF'
		            }
				};
				
				$scope.otherData = [
				    {
				    	'name': 'abc',
				    	'age': 7
				    }, {
				    	'name': 'xyz',
				    	'age': 77
				    }
				];
				
				$scope.getData2 = function(row, e) {
					console.log(row);
					console.log(e);
					console.log($scope.otherData);
				}
				
				$scope.check = function(row, evt) {
					evt.preventDefault();
					
					OperationService.alertAction('确认通过？');
					
					evt.stopPropagation();
				};
				
				$scope.disable = function(row, evt) {
					evt.preventDefault();
					
					OperationService.alertAction('确认禁用？');
					
					evt.stopPropagation();					
				}
				
				$scope.download = function(row, evt) {
					evt.preventDefault();
					
					OperationService.alertAction('正在跳转到下载页...');
					
					evt.stopPropagation();					
				}
				
				$scope.deleteRow = function(row, evt) {
					evt.preventDefault();
					
					OperationService.alertAction('确认删除？');
					
					evt.stopPropagation();					
				}
				
				$scope.footerTplFn = function(grid, row, col) {
					console.log(grid);
					return '123';
				}
			
				$scope.gridOptions1 = {
					// url: '/service/dict!queryDictListByType',
					// urlParams: { 'TYPE': 'DICT_OPTION'}, 
					json: vm.dictList,
//					url: 'other/demo/conow-responsive-table/data/queryDictListByType.json',
					isPagination: true,
					isServerPage: false,
					selectMode: 'multiply',
					columnDefs: [
					    { name: '序号', cellType: 'sequence' },
						{ name: '字典类名称', field: 'DICT_NAME', minWidth: '100', cellTooltip: function(row, col) {
								return row.entity.name;
							}, aggregationType: uiGridConstants.aggregationTypes.sum
					    }, 
						{ name: '字典类编码', field: 'DICT_CODE', width: '200', cellTooltip: function(row, col) {
								return row.entity.workKey;
							} 
					    }, 
//						{ name: '字典类说明', field: '', cellClass: 'hidden-sm', headerCellClass: 'hidden-sm', width: 300, enableSorting: false, cellTemplate: '<div>{{grid.appScope.combination(grid, row, col)}}</div>' }, 
						{ name: '字典类规则', field: 'DICT_TYPE', width: '100', enableSorting: false }, 
						{ name: '操作', field: '', enableSorting: false, minWidth: '200', cellType: 'operation', 
							cellTemplate: '<div>' +  
								'<a class="conow-grid-operator" ng-click="grid.appScope.showFlowChart(row, $event)" title= "查看"><i class="ci-seen"></i></a>' + 
								'<a class="conow-grid-operator" ng-click="grid.appScope.edit(row, $event)" title="编辑"><i class="ci-edit"></i></a>' + 
								'<a class="conow-grid-operator" ng-click="grid.appScope.check(row, $event)" title="通过"><i class="ci-check"></i>通过</a>' + 
								'<a class="conow-grid-operator" ng-click="grid.appScope.disable(row, $event)" title="禁用"><i class="ci-disable"></i>禁用</a>' + 
								'<a class="conow-grid-operator" ng-click="grid.appScope.download(row, $event)" title="下载"><i class="ci-download"></i>下载</a>' + 
								'<a class="conow-grid-operator" ng-click="grid.appScope.deleteRow(row, $event)" title="删除"><i class="ci-delete"></i>删除</a>' + 
								'</div>' }
					],
					quickSearchKey: 'DICT_NAME',
					quickSearchTip: '请输入字典类名称',
					// 这里也可以不用传入操作绑定的方法
	//				showFlowChart: $scope.showFlowChart,
	//				go: $scope.go,
					filterOptions: $scope.filterOptions,
					isRowSelectable: function(row) {
						if(row.entity['DICT_NAME'].indexOf('状态') > -1) {
							return true;
						} else {
							return false;
						}
					},
					rowSelectFn: function(row) {
						var modalInstance = conowModals.open({
							templateUrl: 'other/demo/conow-responsive-table/conow-grid-modal.html',
							controller: 'conowGridModalCtrl',
							title: 'conowGrid弹窗演示',
							size: 'lg',
							isFull: true,
							adaptive: true,
							isModalBox: true,
							resolve: {
								modalParams: function() {
									return {
										data: row
									}
								},
								deps: ['uiLoad', function(uiLoad) {
									return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-modal-ctrl.js']);
								}]
							}
						});
					}
				}
			}
			
			$scope.view = function(row) {			
				var modalInstance = conowModals.open({
					templateUrl: 'other/demo/conow-responsive-table/conow-grid-modal.html',
					controller: 'conowGridModalCtrl',
					title: 'conowGrid弹窗演示',
					size: 'lg',
					isFull: true,
					adaptive: true,
					isModalBox: true,
					resolve: {
						modalParams: function() {
							return {
								options: $scope.gridOptions1
							}
						},
						deps: ['uiLoad', function(uiLoad) {
							return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-modal-ctrl.js']);
						}]
					}
				});
				
				modalInstance.result.then(function(data) {
					console.log(data);
					
					$scope.gridOptions1.selectedItems = data;
					
					$scope.gridOptions1.conowGridInstance.reload();
				}, function(msg) {
					console.log(msg);
				});
			};
			
			$scope.setting = function(row) {
				alert('in setting-->' + JSON.stringify(row.entity));
			};

			$scope.operAdd = function() {
				vm.dictList.unshift(vm.dictList.slice(2, 1));
				$scope.gridOptions1.conowGridInstance.reload();
			};

			$scope.operImport = function() {
				console.log('Import');
			};

			$scope.operExport = function() {
				console.log('export');
			};
			
			// 重新加载
			$scope.gridReload = function() {
				$scope.gridOptions1.json = vm.dictList.slice(2, 10);
				$scope.gridOptions1.conowGridInstance.reload();
			}
			
			$scope.operGetSelected = function() {
				console.log('已选项：', $scope.gridOptions1.conowGridInstance.getSelectedItems());
			}
			
			// 查看流程图
	        $scope.showFlowChart = function (row, e){
	        	 e.stopPropagation();
	        	
	        	 var modalInstance = conowModals.open({
	                 templateUrl: 'other/demo/conow-responsive-table/conow-grid-modal.html',
	                 controller:'conowGridModalCtrl',
	                 title:"弹出层示例",
	                 size: 'full',
	                 isFull:'true',
					 adaptive:'true',
	                 resolve: {
	                     modalParams: function () {
	                         return {
	                         	options: $scope.gridOptions1
	                         };
	                     },
	                     deps: ['uiLoad', function (uiLoad) {
	                         return uiLoad.load(['other/demo/conow-responsive-table/conow-grid-modal-ctrl.js']);
	                     }]
	                 }
	             });
	             modalInstance.result.then(function (selectedItem) {
	                 //$scope.selected = selectedItem;
	             });
	        }
	        
	        // 页面跳转
	        $scope.go = function(row, e) {
	       	 	e.stopPropagation();
	       	 	
	        	$state.go('app.common.conowArea');
	        }
	        
	        $scope.edit = function(row, e) {
	        	e.stopPropagation();
	        	
	        	alert(JSON.stringify(row.entity));
	        }
	        
	        function getData() {
	        	DataService.getData('other/demo/conow-responsive-table/data/queryDictListByType.json')
	        		.then(function(data) {
	        			vm.dictList = data.obj;
	        			$scope.gridOptions1.json = data.obj;
	        		}, function(msg) {
	        			console.error(msg);
	        		});
	        }

		}
	]);
</div>
					</conow-tabs-content-text>
				</conow-tabs-content>
			</conow-tabs>
			
		</conow-block-group>
		 
		<conow-block-group title="使用说明" is-pulldown="true" is-open="false">

			<conow-block class="padder-md">
				<div class="hbox" ng-controller="conowGridDemoInsCtrl">
					<ol>
						<li>指令调用：<code>&lt;div conow-grid="gridOptions1" class="grid"&gt;&lt;/div&gt;</code></li>
						
						<li>参数列表
							<table class="table demo">
								<thead>
									<tr>
										<th ng-repeat="th in vm.paramsList.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.paramsList.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>columnsDefs说明：<span class="text-danger">注意设置 width 属性时，不要所有的列都固定宽度，这样在浏览器改变大小时不能自动适应</span>
							<table class="table">
								<thead>
									<tr>
										<th ng-repeat="th in vm.columnsDefs.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.columnsDefs.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							列类型定义:(cellType)
							<table class="table demo">
								<thead>
									<tr>
										<th ng-repeat="th in vm.cellTypes.thead.tr.th track by $index" ng-bind="::th"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tr in vm.cellTypes.tbody.tr track by $index">
										<td ng-repeat="td in tr.td track by $index" ng-bind="::td"></td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>绑定列表内事件(grid.appScope)。							
							<ul>
								<li>绑定示例：<code>&lt;a class="" ng-click="grid.appScope.setting(row)"&gt;&lt;i class="ci-set"&gt;&lt;/i&gt;&lt;/a&gt;</code></li>
								<li>grid.appScope 是指令内部对业务 controller的引用</li>
								<li>setting 是业务controller中的方法</li>
								<li>方法内部可传入对应行的引用 row(要获取对应行的数据，必须使用 row.entity)</li>
								<li class="text-danger">初始化的配置参数中需要传入操作功能绑定的方法(可以不用传入绑定方法的改进方案还在测试中)</li>
							</ul>
						</li>
						<li>数据重载(表格数据刷新)
							<code>$scope.gridOptions1.conowGridInstance.reload();</code>
						</li>
						<li>操作按钮：(按钮绑定的事件由业务controller提供，没有操作功能不用提供，请不需要grid.appScope绑定)
<pre>
&lt;div conow-grid="gridOptions1" class="grid"&gt;
	&lt;div class="conow-grid-button-group"&gt;
		&lt;button type="button" class="btn add" ng-click="operAdd()"&gt;添加&lt;/button&gt;
		&lt;button type="button" class="btn" ng-click="operImport()"&gt;导入<&lt;/button&gt;
		&lt;button type="button" class="btn" ng-click="operExport()"&gt;导出&lt;/button&gt;
	&lt;/div&gt;	
&lt;/div&gt;
</pre>
						</li>
						<li>获取选中值
							<code>$scope.gridOptions1.conowGridInstance.getSelectedItems()</code>
						</li>
						<li>注意：
							<span class="text-danger">后台分页时，接口需要对排序进行处理</span>
						</li>
					</ol>
				</div>
			</conow-block>
		</conow-block-group>
		
	
		<conow-block-group title="注意事项" is-pulldown="true" is-open="false">
			<conow-block class="padder-md">
				<ol class="text-primary">
					<li>urlParams 是获取后台数据的最基本参数，<span class="text-danger">不需要包含筛选条件、排序、分页信息</span></li>
					<li>后台分页时，会把包含筛选条件、排序、分页信息、urlParams 的参数发送到后台，<span class="text-danger">后台接口需要做对应的处理</span></li>
					<li>筛选功能整合了 "高级搜索" 指令，可参考其使用说明进行配置，另外<span class="text-danger">不需要添加  onConfirm 方法</span></li>
					<li>分页功能整合了 "分页" 指令，可参考其使用说明进行配置</li>
				</ol>
			</conow-block>
		</conow-block-group>
	</conow-block-form>
</div-wrapper>