
<title-bar name="conow-grid-demo"></title-bar>

<style>
	.grid-options-pre {
		height: 150px;
	}
	.panel-body {
		overflow-y: auto;
	}

</style>

<div class="wrapper-md pos-rlt h-auto" ng-controller="conowGridDemoCtrl">
	<div class="row col">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">示例</div>
			</div>
			<div class="panel-body">
				<!-- <pre class="grid-options-pre">{{ gridOptions1 | json}}</pre> -->

				<div>conow-grid</div>
				<div conow-grid="gridOptions1"></div>
			</div>
		</div>
	</div>
</div>