
<title-bar name="conow-grid-demo"></title-bar>

<style>
	.grid {
		width: 800px;
		height: 250px;
	}
</style>

<div class="wrapper-md pos-rlt h-auto" ng-controller="conowGridDemoCtrl">
	<div class="row col">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">示例</div>
			</div>
			<div class="panel-body">
				<!-- <input type="text" ng-model="filterOptions.filterText">
				<button ng-click="filter()">Single Filter</button> -->

				<div id="grid1" conow-grid="gridOptions" class="grid"></div>
			</div>
		</div>
	</div>
</div>