
<title-bar name="conow responsive table"></title-bar>

<div class="wrapper-md pos-rlt h-auto" ng-controller="responsiveTableDemoCtrl">
	<div class="row col">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">组件演示</div>
			</div>
			<div class="panel-body">
				<!-- <div class="form-group">
					<div class="radio inline">
						<label class="i-checks">
							<input type="radio" name="multiSelect" ng-model="options.multiSelect" value=true><i></i>多选
						</label>
					</div>
					<div class="radio inline">
						<label class="i-checks">
							<input type="radio" name="multiSelect" ng-model="options.multiSelect" value=false><i></i>单选
						</label>
					</div>
				</div> -->
				<!-- <div class="form-group m-t-sm">
					<pre>{{ options | json }}</pre>
					<div class="form-group">
						<input type="text" ng-model="options.">
					</div>
					已选项：<pre>{{ vm.selected }}</pre>
				</div> -->
<!-- <td width="50">
  <label class="i-checks">
  	<input type="checkbox" class="icheckbox_square" ng-checked="indexInSelectedArr(user) >= 0" header="'ng-table/headers/checkbox.html'"><i></i>
  </label>
</td> -->
						<!-- json-data="data" -->
						<!-- from-url="views/components/conow-responsive-table/data/users.json"  -->
				<div class="m-t-sm">
					<button type="button" class="btn btn-primary" ng-click="tableReload()">reload</button>
					<table object-table
						from-url="views/components/conow-responsive-table/data/users.json"
						display="10"
						headers="Name, Age, Sex, duty, sex-2, duty-2, sex-3, duty-3, 操作"
						fields="name,age,sex,duty"
						sorting="simple"
						search="true" 
						class="horizontal-scroll"
						select=""
						selected-model="vm.selected"
						table-instance="vm.instance">

							<tfoot>
								<tr>
									<td colspan="4">Total:{{ ::$filtered.length }}</td>
									<td colspan="5">Total</td>
								</tr>
							</tfoot>
							<tbody>
								<tr ng-click="$owner.rowClick(item)">
									<td ng-click="$owner.rowClick(item, e)">{{ item }}</td>
									<td>{{ ::item.age.age }}</td>
									<td class="hidden-sm">{{ ::item.sex }}</td>
									<td>{{ ::item.duty }}</td>
									<td class="collapse-md">{{ ::item.sex }}</td>
									<td>{{ ::item.duty }}</td>
									<td class="collapse-sm">{{ ::item.sex }}</td>
									<td>{{ ::item.duty }}</td>
									<td class="width-200">
										<button class="btn btn-sm btn-primary" ng-click="$owner.add(item, $event)">新增</button>
										<button class="btn btn-sm btn-primary" ng-click="$owner.edit(item, $event)">编辑</button>
										<button class="btn btn-sm btn-danger" ng-click="$owner.del(item, $event)">删除</button>
									</td>
								</tr>
							</tbody>
						</table>

						<p>selected:</p>
						<pre>{{vm.selected}}</pre>
				</div>

			</div>
			<div class="panel-footer">
				@ng-table:
				<a href="https://github.com/esvit/ng-table" target="_blank" class="text-primary" title="ng-table">Github地址</a>
			</div>
		</div>
	</div>

	<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>引入文件 <code>object-table.js</code> & <code>object-table.css</code></li>
						<li>调用指令 <code>object-table</code></li>
						<li>参数列表
							<table class="table table-hover">
								<thead>
									<tr>
										<th>参数名称</th>
										<th>是否必填</th>
										<th>默认值</th>
										<th>说明</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>from-url</td>
										<td>是</td>
										<td>-</td>
										<td>后台数据接口</td>
									</tr>
									<tr>
										<td>data</td>
										<td>是</td>
										<td>-</td>
										<td>json数据</td>
									</tr>
									<tr>
										<td>display</td>
										<td>是</td>
										<td>-</td>
										<td>单页显示记录数</td>
									</tr>
									<tr>
										<td>headers</td>
										<td>是</td>
										<td>-</td>
										<td>表头显示内容，用<code>,</code>分隔</td>
									</tr>
									<tr>
										<td>search</td>
										<td>否</td>
										<td>true</td>
										<td>是否显示搜索</td>
									</tr>
									<tr>
										<td>select</td>
										<td>否</td>
										<td>null</td>
										<td>是否可选/单选/多选</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ol>
				</div>
			</div>
		
	</div>

</div>