
<title-bar name="conow responsive table"></title-bar>

<div class="wrapper-md pos-rlt h-auto" ng-controller="responsiveTableDemoCtrl">
	<div class="row col">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">组件演示</div>
			</div>
			<div class="panel-body">
				<div class="m-t-sm">
					<pre>{{ options | json }}</pre>
					<!-- <div class="form-group">
						<input type="text" ng-model="options.">
					</div> -->
				</div>
				<div class="m-t-sm">
					<div class="form-group">
						<label for="table-search" class="control-label">过滤</label>
						<input type="text" id="table-search" class="form-control" ng-model="vm.searchKey">
					</div>
					<table ng-table="tableParams" class="table table-hover bg-white ng-table-rowselected table-bordered">		
						<tbody>
							<tr ng-repeat="user in $data track by $index" ng-class="{'row-selected': indexInSelectedArr(user) >= 0}" ng-click="changeSelection(user, $event)">
								<!-- <td data-title="'序号'">{{ (tableParams.page() - 1) * tableParams.count() + $index + 1}}</td> -->
								<!-- <td width="50" style="text-align: left">
	                <label for="" class="i-checks">
	                	<input type="checkbox" checked="checked" ng-model="vm.checkbox[user]"><i></i>
	                </label>
		            </td> -->
								<td data-title="'姓名'" ng-bind="user.name" sortable="'name'"></td>
								<td data-title="'姓名'" ng-bind="user.name" sortable="'name'" header-class="'hidden-sm hidden-xs'" class="hidden-sm hidden-xs"></td>
								<td data-title="'年龄'" ng-bind="user.age" sortable="'age'" header-class="'hidden-sm'" class="hidden-sm"></td>
								<td data-title="'性别'" ng-bind="user.sex" sortable="'sex'"></td>
							</tr>
						</tbody>
					</table>
					
					<div class="m-t form-group">
						<button class="btn btn-primary" ng-click="dataChange()">数据修改</button>
					</div>
				</div>

			</div>
			<div class="panel-footer">
				@ng-table:
				<a href="https://github.com/esvit/ng-table" target="_blank" class="text-primary" title="ng-table">Github地址</a>
			</div>
		</div>
				</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body"></div>
			</div>
		</div>
		
	</div>

</div>