
  <div class="col">
    <div class="wrapper-md">
      <div class="b-a bg-light dk r r-2x">
        <!-- <span ng-if="options.doing_async"><i class="fa fa-spin fa-spinner"></i>&nbsp;加载中...</span> -->
        
        <abn-tree 
          req-url="data/bz/area.json" 
          tree-control="my_tree" 
          tree-data="treeData" 
          search-input="true"
          search-element="label"
          on-select="my_tree_handler(branch)" 
          multiselect="false" 
          arr-selected="arrBranchs"
          >
        </abn-tree>

        <!-- <div class="pull-right">
          <button class="btn btn-success" ng-click="confirm()">确定</button>
          <button class="btn btn-defaultl" ng-click="cancel()">取消</button>
        </div> -->
      </div>
    </div>
  </div>