<title-bar name="validator demo">
  <div class="pull-right .m-r-md">
    <button type="submit" class="btn m-r-sm w-xs btn-primary">提交</button>
    <input type="button" value="暂存" class="btn m-r-sm w-xs btn-dark" ng-click="saveTrip()" /> 
    <input type="button" value="删除" class="btn m-r-sm w-xs btn-danger" ng-click="deleteTripReq()"/>
    <input type="button" value="放弃" class="btn w-xs btn-danger" ng-click="back()" />
  </div>
</title-bar>

<div class="wrapper-md pos-rlt">
  <div class="row">
  	<div class="col-sm-6">
  		
  	</div>
  </div>
</div>