<body>
	<div class="bg-light dk b-b header-md h">
	  <h1 class="m-n font-thin h3">地区控件</h1>
	</div>
	<div class="wrapper-md">
	  <div class="row">
		 <div class="col-md-4">
			<div class="row">
				<div class="col-lg-8">
					1、省，市，县    --  显示全路径：
					<conow-area ng-model="backoutArea" region-type="province,city,country" display-root="true"></conow-area>
				</div>
				<div class="col-lg-4 m-l">{{backoutArea}}</div>
			</div>
			
			<div class="row m-t">
				<div class="col-lg-8">
					2、省，市，县     -- 不显示全路径
					<conow-area ng-model="backoutArea1" region-type="province,city,country" display-root="false"></conow-area>
				</div>
				<div class="col-lg-4 m-l">{{backoutArea1}}</div>
			</div>
			
			<div class="row m-t">
				<div class="col-lg-8">
					3、市       -- 显示全路径
					<conow-area ng-model="backoutArea2" region-type="city" display-root="true"></conow-area>
				</div>
				<div class="col-lg-4 m-l">{{backoutArea2}}</div>
			</div>
			
			<div class="row m-t">
				<div class="col-lg-8">
					4、市     -- 不显示全路径
					<conow-area ng-model="backoutArea3" region-type="city"></conow-area>
				</div>
				<div class="col-lg-4 m-l">{{backoutArea3}}</div>
			</div>
			
			<div class="row m-t">
				<div class="col-lg-8">
					国家选择：
					<conow-area ng-model="backoutNation" region-type="nation"></conow-area>
				</div>
				<div class="col-lg-4 m-l">{{backoutNation}}</div>
			</div>
		 </div>
	  	 <div class="col-md-8">
			<pre>
使用说明：
1、在页面使用'conow-area'标签引入，标签必须依赖绑定一个model值，即需要ng-model。
2、添加属性：
	a、region-type:'nation'(国家)、'province'(省份)、
		'city'(城市)、'country'(县/乡镇)	 --	设置返回数据值/
		可以填写多个，如："province,city"，就会返回省和城市的值
	b、display-root:'true'、'false' -- 设置显示在input框的值，
		设置是否显示全路径，即如果你region-type为'city'，若display-root
		设置为true，则显示值为：省-城市；若为false，则只会显示：城市;
		如果没有该属性，也是只会显示'city'
3、例子说明：
	a、第一个input为 region-type="province,city,country" display-root=true  
				选择省市县、显示全路径例子;
	例子代码：
	&lt;div class="row">
	  &lt;div class="col-lg-8">
	    1、省，市，县    --  显示全路径：
	    <span class="text-danger">&lt;conow-area ng-model="backoutArea" region-type="province,
	    city,country" display-root="true">&lt;/conow-area></span>
	  &lt;/div>
	  &lt;div class="col-lg-4 m-l">{{backoutArea}}&lt;/div>
	&lt;/div>
	
	b、第二个input为 region-type="province,city,country" display-root=false  
				选择省市县、不显示显示全路径例子;
	例子代码：
	&lt;div class="row">
	  &lt;div class="col-lg-8">
	    2、省，市，县     -- 不显示全路径
	    <span class="text-danger">&lt;conow-area ng-model="backoutArea1" region-type="province,city
		,country" display-root="false">&lt;/conow-area></span>
	  &lt;/div>
	  &lt;div class="col-lg-4 m-l">{{backoutArea1}}&lt;/div>
	&lt;/div>
	
	c、第三个input为 region-type="city" display-root=true  
				选择城市、显示全路径例子;
	例子代码：
	&lt;div class="row">
	  &lt;div class="col-lg-8">
		3、市       -- 显示全路径
		<span class="text-danger">&lt;conow-area ng-model="backoutArea2" region-type="city"
		 display-root="true">&lt;/conow-area></span>
	  &lt;/div>
	  &lt;div class="col-lg-4 m-l">{{backoutArea2}}&lt;/div>
	&lt;/div>
	
	d、第四个input为 region-type="city" 
				选择城市、不显示全路径例子，没有display-root属性;
	例子代码：
	&lt;div class="row">
	  &lt;div class="col-lg-8">
		4、市     -- 不显示全路径
		<span class="text-danger">&lt;conow-area ng-model="backoutArea3" region-type="city">&lt;/conow-area></span>
	  &lt;/div>
	  &lt;div class="col-lg-4 m-l">{{backoutArea3}}&lt;/div>
	&lt;/div>
	
	e、最后一个input为region-type="nation"选择国家例子。
	例子代码：
	&lt;div class="row">
	  &lt;div class="col-lg-8">
		国家选择：
		<span class="text-danger">&lt;conow-area ng-model="backoutNation" region-type="nation">&lt;/conow-area></span>
	  &lt;/div>
	  &lt;div class="col-lg-4 m-l">{{backoutNation}}&lt;/div>
	&lt;/div>
			 </pre>
		 </div>
	 
	  </div>
	</div>
</body>
