
<div ng-controller="ChildOrgsCtrl">
	<div class="m-t">
		<div ng-if="orgs.length == 0">
			<span class="text-md font-bold p-sm">没有对应的下级组织信息</span>
		</div>
		<div ng-if="orgs.length > 0">		
			<div ng-repeat="org in orgs track by $index">
				<div class="hbox p-sm b-b">					
					<a ng-click="showOrgInfo(org)" class="p-l-sm">
						<span class="text-md">{{ org.ORG_UNIT_NAME }}</span>
					</a>
					
					<div class="col col-p-sm v-middle m-r-md">
						<a class="btn btn-danger-square pull-right v-middle" ng-show="!org.isInCollection" ng-click="follow(org, 'org')">关注</a>
						<a class="btn pull-right btn-danger-square" ng-show="org.isInCollection" ng-click="unFollow(org, 'org')">取消关注</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>