<modal-body class="org-info bg-light no-scroll">
	<style>
	.modal-full .modal-body.org-info { position: relative; overflow: hidden; top: 0; height: 100%; }
	.org-info-content { position: absolute; top: 102px; bottom: 54px; overflow: auto; }
	.child-orgs .header { height: 40px; }
	.child-orgs .content {  }
	
	.org-staffs .header { height: 40px; }
	.org-staffs .content {  }
	.org-staff-fixed { position: absolute; bottom: 50px; width: 100%; height: 93px; }
	.w-auto-important { width: auto !important; }
	</style>
	
	<div class="">
		<div class="hbox p-sm h-auto">
			<button type="button" class="form-control btn r-3x bg-white" ng-click="orgAndStaffSearchClick($event)">
				<i class="fa fa-search m-r-xs"></i>搜索
			</button>
		</div>
		
		<div class="hbox h-auto bg-breadcrumb-contact-list">
			<div class="col swiper-container">
				<ul class="breadcrumb breadcrumb-contact-list m-b-xs swiper-wrapper padder-sm">
					<li class="swiper-slide w-auto-important" ng-repeat="org in orgAndFatherOrgs track by $index" ng-class="{'active': $last}">
						<a href="#" class="text-md" ng-if="!$last" ng-click="orgItemClick(org, $event)">{{ org.ORG_UNIT_SHORT_NAME }}</a>
						<span class="text-md" ng-if="$last">{{ org.ORG_UNIT_SHORT_NAME }}</span>
					</li>
				</ul>
			</div>
			<div class="col v-middle col-org-info-icon-split p-l-xs" ng-if="orgAndFatherOrgs.length > 0">
				<div class="org-info-icon-split"></div>
			</div>
			<a href="#" class="col v-middle col-org-info-icon p-l" ng-click="orgInfoClick(org, $event)" ng-if="orgAndFatherOrgs.length > 0">
				<i class="fa fa-bank text-xlg text-primary"></i>
			</a>
		</div>
		<script>
		
		</script>
		<div class="org-info-content">
			<div class="child-orgs">
				<div class="header1">
					
				</div>
				
				<div class="content">
					<div class="hbox h-auto padder-v-xs text-muted-dk text-md text-center" ng-if="childOrgs.length == 0">
						暂无下级组织
					</div>	
					<a href="#" ng-repeat="org in childOrgs track by $index" ng-click="orgItemClick({ID:org.ID}, $event)">
						<div class="hbox h-auto b-b padder-v-xs bg-white">
							<div class="col padder-v-sm padder-sm">
								<span class="text-md">{{ org.ORG_UNIT_NAME }}</span>
							</div>
							<div class="col col-p-sm padder-v-sm padder-xs">
								<span class="text-md pull-right text-dker">{{ org.COUNT }}</span>
							</div>
							<div class="col col-xxs p-t-7">
								<i class="fa fa-angle-right text-2x text-dker"></i>
							</div>
						</div>
						
					</a>
				</div>
			</div>
			
			<div class="org-staffs">
				<div class="header">					
					<a ng-click="showAllStaffsClick($event)">
						<div class="hbox h-auto bg-dark dker padder-v-xs padder-sm text-white">
							<div class="col padder-v-xs text-md font-bold text-ellipsis">
								<span>当前组织人员(</span><span class="">{{orgStaffs.length}}</span><span>)</span>
							</div>
							<div class="col pull-right v-middle text-lg">
								<div class="inline">
									<i class="padder-v-xs padder-xs icon-list" ng-if="options.orgStaffsShowType == 'th'" ng-click="changeShowTypeClick($event)"></i>
									<i class="padder-v-xs padder-xs fa fa-th-large" ng-if="options.orgStaffsShowType == 'list'" ng-click="changeShowTypeClick($event)"></i>
								</div>
							</div>
						</div>
					</a>
				</div>
				
				<div class="content">
					<div class="hbox h-auto padder-sm padder-v-xs text-center text-md text-muted-dk" ng-if="orgStaffs.length == 0">
						暂无人员信息
					</div>
					<div class="" ng-if="options.orgStaffsShowType == 'list'">
						<div class="hbox h-auto padder-sm padder-v-xs" ng-repeat="staff in orgStaffs track by $index">						
							<conowstaffphoto class="thumb-sm col thumb-contact-list" photo="staff.PHOTO" name="staff.NAME"></conowstaffphoto>
							
							<div class="col b-b p-l-sm staff-cell">
								<a href="#" ng-click="staffItemClick(staff, $event)">
									<div class="staff-cell-content">
										<span class="text-md text-muted-lter">{{ staff.NAME }}</span>
										<span class="text-base bg-primary label-part-time text-white" ng-if="staff.STAFF_ADDITION">{{ staff.STAFF_ADDITION }}</span>
										<span class="text-base text-muted-dk">{{ staff.CORP_ORG_ID_HR_ORG_UNIT }}</span>
										<span class="text-base text-muted-dk m-l">{{ staff.JOBS_ID_HR_JOBS_INFO }}</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					
					<div class="" ng-if="options.orgStaffsShowType == 'th'">
						<div class="hbox h-auto padder-sm padder-v-xs inline">
							<a href="#" class="btn r-3x text-md text-center" ng-repeat="staff in orgStaffs track by $index" ng-click="staffItemClick(staff, $event)">
								<div class="text-center">	
									<conowstaffphoto class="thumb-sm col thumb-contact-list" photo="staff.PHOTO" name="staff.NAME"></conowstaffphoto>
									<div class="text-md w-50">
										<div class="text-ellipsis">{{ staff.NAME }}</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="org-staff-fixed">
			<div class="hbox h-auto">
				<a ng-click="showAllStaffsClick($event)">
					<div class="hbox h-auto bg-dark dker padder-v-xs padder-sm text-white">
						<div class="col padder-v-xs text-md font-bold text-ellipsis">
							<span>当前组织人员(</span><span class="">{{orgStaffs.length}}</span><span>)</span>
						</div>
						<div class="col pull-right v-middle text-lg">
							<div class="inline">
								<i class="padder-v-xs padder-xs icon-list" ng-if="options.orgStaffsShowType == 'th'" ng-click="changeShowTypeClick($event)"></i>
								<i class="padder-v-xs padder-xs fa fa-th-large" ng-if="options.orgStaffsShowType == 'list'" ng-click="changeShowTypeClick($event)"></i>
							</div>
						</div>
					</div>
				</a>	
			</div>
			
			<div class="hbox b-b h-auto padder-sm padder-v-xs bg-white">
				<div class="hbox h-auto padder-sm padder-v-xs text-md text-center text-muted-dk" ng-if="orgStaffs.length == 0">
					暂无人员信息
				</div>
				<div class="" ng-if="options.orgStaffsShowType == 'list'">
					<div class="hbox h-auto padder-sm padder-v-xs" ng-repeat="staff in orgStaffs track by $index">						
						<conowstaffphoto class="thumb-sm col thumb-contact-list text-center" photo="staff.PHOTO" name="staff.NAME"></conowstaffphoto>
						
						<div class="col b-b p-l-sm staff-cell">
							<a href="#" ng-click="staffItemClick(staff, $event)">
								<div class="staff-cell-content">
									<span class="text-md text-muted-lter">{{ staff.NAME }}</span>
									<span class="text-base bg-primary label-part-time text-white" ng-if="staff.STAFF_ADDITION">{{ staff.STAFF_ADDITION }}</span>
									<span class="text-base text-muted-dk">{{ staff.CORP_ORG_ID_HR_ORG_UNIT }}</span>
									<span class="text-base text-muted-dk m-l">{{ staff.JOBS_ID_HR_JOBS_INFO }}</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				
				<div class="" ng-if="options.orgStaffsShowType == 'th'">
					<div class="hbox h-auto padder-sm padder-v-xs inline">
						<a href="#" class="btn r-3x text-md text-center" ng-repeat="staff in orgStaffs track by $index" ng-click="staffItemClick(staff, $event)">
							<div class="text-center">	
								<conowstaffphoto class="thumb-sm col thumb-contact-list" photo="staff.PHOTO" name="staff.NAME"></conowstaffphoto>
								<div class="text-md w-50">
									<div class="text-ellipsis">{{ staff.NAME }}</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</modal-body>

<!-- <modal-btn>
    <a href="#" class="btn btn-bar-success" ng-click="orgInfoClick(org, $event)">组织信息</a>
</modal-btn> -->