
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div>
			<h3 class="modal-title">表单提交</h3>
		</div>
		<div ng-controller="CommitEffectFormCtrl">

			<form name="form" class="bs-example" novalidate>

				<div class="form-group">
					<label class="control-label col-md-2" for="userName">姓名</label>
					<input type="text" id="userName" name="userName" class="form-control" ng-model="entity.userName" required>
				</div>

				<div class="form-group">
					<label class="control-label" for="password">密码</label>
					<input type="text" id="password" name="password" class="form-control" ng-model="entity.password" required>
				</div>

				<div class="form-group">
					<label class="control-label" for="sex">性别:</label>
					<input type="text" id="sex" name="ses" class="form-control" ng-model="entity.sex">
				</div>
				
				<div class="form-group">
					<label class="control-label">出生地</label>
					<input type="text" id="birthPlace" name="birthPlace" class="form-control" ng-model="entity.birthPlace">
				</div>
				
				<div class="form-group">
					<label class="control-label" for="birthDate">出生日期:</label>
					<input type="text" id="birthDate" name="birthDate" class="form-control" ng-model="entity.birthDate">
				</div>
				
				<div class="form-group">
					<label class="control-label" for="phone">电话</label>
					<input type="text" id="phone" name="phone" class="form-control" ng-model="entity.phone">
				</div>
				
				<div class="form-group">
					<label class="control-label" for="email">邮箱</label>
					<input type="text" id="email" name="email" class="form-control" ng-model="entity.email">
				</div>
				
				<!-- <div>
					<button class="btn btn-primary" ng-click="save();">保存</button>
					<button class="btn btn-success" ng-click="submit();">提交</button>
				</div> -->

				<!-- <div btnsgroup data-params-save="users/signin, app/form/selectForm" data-params-submit="{'type': 'post','url': 'users/signin', 'redirectUrl': 'app/form/selectForm'}"></div> -->

				<div>
					<!-- <button class="btn btn-primary" btn-save ng-click="save();" data-params-save="users/signin, app/form/selectForm">暂存</button> -->
					<button class="btn btn-primary" btn-save ng-click="save();" data-url="users/signin" data-redirect-url="app/form/selectForm" data-action-type="post">暂存</button>
					<button class="btn btn-success" btn-submit ng-click="submit();" data-url="users/signin">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>