<title-bar title-name="ngDialog demo"><span class="h3">modal</span></title-bar>

<div class="wrapper-md pos-rlt">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info" ng-controller="ModalParentCtrl">
				<div class="panel-heading font-bold">弹出框示例</div>
				<div class="panel-body">
					<form action="" role="form">
						<div class="form-group">
							<label for="username" class="control-label">用户名</label>
							<input type="text" class="form-control" name="username" id="username" ng-model="entity.username">
						</div>
						<div class="form-group">
							<label for="email" class="control-label">邮箱</label>
							<input type="email" class="form-control" name="email" id="email" ng-model="entity.email">
						</div>

						<div class="form-group">
							<label for="" class="control-label">删除操作</label>
							<conow-btn-del url="users/userDel" data="{'username': '{{ entity.username }}'}" title="标题测试" confirm-msg="确认删除{{entity.username}}?"></conow-btn-del>
						</div>
						<div class="form-group">
							<label for="" class="control-label">提示信息</label>
							<conow-btn-prompt title="提示标题测试" data="{'username': '{{ entity.username }}', 'email': '{{ entity.email }}'}"></conow-btn-prompt>
						</div>
						<div class="form-group">
							<label for="" class="control-label">列表选择</label>
							<conow-btn-sel callback-func="" template-url=""></conow-btn-sel>
						</div>
					</form>
				</div>
				<div class="panel-footer">$modal 弹出框测试</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading font-bold">删除操作按钮使用说明</div>
				<div class="panel-body">
					<h4 class="font-bold">通过指令调用</h4>
					<p>
						<pre>
&lt;conow-btn-del url="users/userDel" data="{'username': '{{ entity.username }}'}" title="标题测试" confirm-msg="确认删除{ { entity.username } }?"&gt;&lt;/conow-btn-del&gt;
						</pre>
					</p>
					<hr>
					<h4 class="font-bold">参数说明</h4>

					<h5><code>url{String}</code></h5>
					<p>删除对应的后台地址</p>
					<h5><code>data{Object}</code></h5>
					<p>提交到后台的数据，需要后台接口做对应处理</p>
					<h5><code>title{String}</code></h5>
					<p>弹出框的显示标题</p>
					<h5><code>confirm-msg{String}</code></h5>
					<p>弹出框的提示信息</p>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading font-bold">提示信息按钮使用说明</div>
				<div class="panel-body">
					<h4 class="font-bold">通过指令调用</h4>
					<p>
						<code>
&lt;conow-btn-prompt title="提示标题测试" data="{'username': '{{ entity.username }}', 'email': '{{ entity.email }}'}"&gt;&lt;/conow-btn-prompt&gt;							
						</code>
					</p>
					<hr>
					<h4 class="font-bold">参数说明</h4>

					<h5><code>data{Object}</code></h5>
					<p>需要在弹出框中显示的数据</p>
					<h5><code>title{String}</code></h5>
					<p>弹出框的显示标题</p>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading font-bold">列表选择按钮使用说明</div>
				<div class="panel-body">
					<h4 class="font-bold">通过指令调用</h4>
					<p>
						<code>
&lt;conow-btn-sel callback-func="" template-url=""&gt;&lt;/conow-btn-sel&gt;							
						</code>
					</p>
					<hr>
					<h4 class="font-bold">参数说明</h4>

					<h5><code>data{Object}</code></h5>
					<p>需要在弹出框中显示的数据</p>
					<h5><code>title{String}</code></h5>
					<p>弹出框的显示标题</p>
				</div>
			</div>
		</div>

	</div>
</div>