<title-bar name="ngDialog demo"></title-bar>

<div class="wrapper-md pos-rlt" ng-controller="DialogDemoCtrl">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">弹出提示框</div>
				<div class="panel-body">
					<form role="form" class="form-horizontal">
						<div class="form-group">
							<label for="username" class="control-label col-sm-2">用户名</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="username" id="username" ng-model="entity.username">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<pre>
$scope.open = function() {
    ngDialog.open({
        template: 'deleteConfirm',
        controller: 'DeleteCtrl',
        closeByDocument: false
    });
};					
								</pre>				
								<p>可以在 DeleteCtrl 定义方法打开另外一个 dialog 对象</p>
								<pre>
ngDialog.open({
	template: '&lt;div class="text-success has-success"&gt;&lt;span class="glyphicon glyphicon-ok"&gt;&lt;/span&gt;删除成功&lt;/div&gt;',
	closeByDocument: false,
	closeByEscape: false,
	plain: true,
	overlay: false
});
								</pre>
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-danger" ng-click="open(entity.username)">删除</button>
							</div>
							<!-- <button class="btn btn-info" ng-click="test()">测试</button> -->
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">使用说明</div>
				<div class="panel-body">
					<ol>
						<li>index.html中引入文件
						<pre>
&lt;link rel="stylesheet" href="./vendor/ngDialog/css/ngDialog.css"&gt;
&lt;link rel="stylesheet" href="./vendor/ngDialog/css/ngDialog-theme-default.css"&gt;
&lt;link rel="stylesheet" href="./vendor/ngDialog/css/ngDialog-theme-plain.css"&gt;

&lt;script src="./vendor/ngDialog/js/ngDialog.js"&gt;&lt;/script&gt;
						</pre>
						</li>
						<li>app.js中注入依赖<code>var app = angular.module('app', ['ngDialog']);</code></li>
						<li>在controller中可直接注入 ngDialog 进行使用</li>
					</ol>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading font-bold">参数说明</div>
				<div class="panel-body">
					<ol>
						<li>template{String}</li>
						<li>plain{Boolean}</li>
						<li>controller{String} | {Array} | {Object}</li>
						<li>closeByDocument{}</li>
						<li>closeByEscape{}</li>
						<li>overlay{}</li>
					</ol>
				</div>
			</div>

			<p>更多请参考项目主页：<a href="https://github.com/likeastore/ngDialog">ngDialog on github</a></p>
		</div>
	</div>
</div>

<!-- <div class="row">
	<form role="form">
		<div class="form-group">
			<button type="button" class="btn btn-info" ng-click="cancel()">取消</button>
			<button type="button" class="btn btn-primary" ng-click="confrim()">确定</button>
		</div>
	</form>
</div> -->


<script type="text/ng-template" id="deleteConfirm">
	<div class="col-md-offset-1">
		<h3 class="">是否确定删除?</h3>
	</div>
	<div class="row">
		<form role="form">
			<div class="form-group">
				<div class="col-md-6 pull-right">
					<button type="button" class="btn btn-danger" ng-click="cancel()">取消</button>
					<button type="button" class="btn btn-primary" ng-click="confirm()">确定</button>
				</div>
			</div>
		</form>
	</div>
</script>