
<div class="header-md h pos-fix w-full b-b bg-light dk">
	<h1 class="m-n font-thin h3">
		简单样式表格
	</h1>
</div>

<div class="form form-horizontal">
	<div class="row">
		<label for="userName" class="col-md-4"></label>
		<div class="col-md-8">
			<input type="text" id="userName">
		</div>
	</div>
	<div class="row">
		<label for="password" class="col-md-4"></label>
		<div class="col-md-8"><input type="text" id="password"></div>
	</div>

	<!-- <div class="wrapper-md pos-rlt" ui-view="formBtns"></div> -->
</div>