
<!-- <div class="header-md h pos-fix w-full b-b bg-light dk"> -->
<div class="row">
	<h3 class="m-n font-bold h3">
		简单样式表格
	</h3>
</div>
<!-- </div> -->

<div class="row" ng-controller="SimpleFormCtrl">
	<form class="bs-example form-horizontal" role="form" name="simpleForm" novalidate>
		<div class="form-group">
			<label for="userName" class="control-label">用户名</label>
			<input type="text" name="userName" id="userName" class="form-control" ng-model="entity.userName" required ng-minlength="2" ng-maxlength="5" ng-pattern="/^[a-z]{2}\d{1,2}$/" >
			<p class="text-info">error type: {{simpleForm.userName.$error}}</p>
			<p ng-class="{'hidden': !simpleForm.userName.$error.required, 'text-danger': simpleForm.userName.$error.required}">required</p>
			<p ng-class="{'hidden': !simpleForm.userName.$error.minlength, 'text-danger': simpleForm.userName.$error.minlength}">ng-minlength=2</p>
			<p ng-class="{'hidden': !simpleForm.userName.$error.maxlength, 'text-danger': simpleForm.userName.$error.maxlength}">ng-maxlength=5</p>
			<p ng-class="{'hidden': !simpleForm.userName.$error.pattern, 'text-danger': simpleForm.userName.$error.pattern}">ng-pattern:/^[a-z]{2}\d{1,2}$/</p>
		</div>
		<div class="form-group">
			<label for="password" class="control-label">密码</label>
			<input type="text" id="password" class="form-control" ng-model="entity.password">
		</div>
		<div class="form-group">
			<label for="sex" class="control-label">性别</label>
			<input type="text" id="sex" class="form-control" ng-model="entity.sex">
		</div>
		<div class="form-group">
			<label for="age" class="control-label">年龄</label>
			<input type="text" id="age" class="form-control" ng-model="entity.age">
		</div>
		<div class="form-group">
			<label for="phone" class="control-label">电话</label>
			<input type="text" id="phone" class="form-control" ng-model="entity.phone">
		</div>
		<div class="form-group">
			<label for="email" class="control-label">邮箱</label>
			<input type="text" id="email" class="form-control" ng-model="entity.email">
		</div>

		<div class="form-group">
			<button class="btn btn-primary"  ng-click="save();" url="users/signin" redirect-url="app/form/selectForm">暂存</button>
			<button class="btn btn-success"  ng-click="submit();">提交</button>
		</div>

		<div class="form-group">
			<button class="btn btn-info" ng-click="showServiceInfo();">显示服务信息</button>
		</div>
	</form>
</div>