
<!-- <div class="header-md h pos-fix w-full b-b bg-light dk"> -->
<div class="row">
	<h3 class="m-n font-bold h3">
		简单样式表格
	</h3>
</div>
<!-- </div> -->

<div class="row" ng-controller="SimpleFormCtrl">
	<form class="bs-example" role="form" name="simpleForm" novalidate>
		<div class="form-group">
			<label for="userName" class="col-md-4 control-label">用户名</label>
			<div class="col-md-8">
				<input type="text" id="userName" class="form-control" ng-model="entity.userName" ng-blur="userNameCheck();">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label">密码</label>
			<input type="text" id="password" class="form-control" ng-model="entity.password">
		</div>
		<div class="form-group">
			<label for="sex" class="control-label">性别</label>
			<input type="text" id="sex" class="form-control" ng-model="entity.sex">
		</div>
		<div class="form-group">
			<label for="age" class="control-label">年龄</label>
			<input type="text" id="age" class="form-control" ng-model="entity.age">
		</div>
		<div class="form-group">
			<label for="phone" class="control-label">电话</label>
			<input type="text" id="phone" class="form-control" ng-model="entity.phone">
		</div>
		<div class="form-group">
			<label for="email" class="control-label">邮箱</label>
			<input type="text" id="email" class="form-control" ng-model="entity.email">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" btn-save ng-click="save();" url="users/signin" redirect-url="app/form/selectForm">暂存</button>
			<button class="btn btn-success" btn-submit ng-click="submit();">提交</button>
		</div>
	</form>
</div>