<title-Bar name="出差申请"></title-Bar>

<div class="wrapper m-b-xxl pos-rlt no-padder-xs text-md" ng-controller="tripReqCtrl">
    <form role="form" name="tripReqForm" ng-submit="commitTrip()" class="b-a-sm b-a-md">
        <!-- 基本信息 -->
        <div class="p-b-xs">
            <div class="padder-sm padder-v-xs bg-light dker text-lg font-bold">
                基本信息
            </div>
            <div>
                <div class="padder-sm padder-v-xs text-sm text-field">出发地/出发时间</div>
                <div class="bg-light lter">
                    <div class="hbox padder-sm">
                        <div class="col b-r">
                            <div class="b-b">
                                <!-- <conow-area ng-model="TripReq.tripReqAdrList[0].TRIP_SOURCE"
                                            region-type="city" display-root="false" include-parent="false"
                                            i-class="no-borders padder-xs text-primary-dker text-lg font-bold"
                                            placeholder="出发地"></conow-area> -->
                                <input type="text" readonly="true" class="w-full no-borders p-xs text-primary-dker text-lg font-bold" name="trip_source" conow-area2 ng-model="TripReq.tripReqAdrList[0].TRIP_SOURCE" placeholder="出发地">
                            </div>
                            <div>
                                <conow-datepicker
                                        ng-model="TripReq.tripReqAdrList[0].TRIP_START"
                                        max-date="TripReq.tripReqAdrList[0].TRIP_END"
                                        ng-required="true" ng-blur="calDays()"
                                        i-class="no-borders no-shadow text-primary-dker text-lg font-bold padder-xs"></conow-datepicker>
                                
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>

                <div ng-repeat="dest in adrListID">
                    <div class="hbox padder-sm padder-v-xs">
                        <div class="col col-lg v-middle text-sm text-field">到达地/结束时间</div>
                    </div>

                    <div class="hbox">
                        <div class="col b-r bg-light lter">
                            <div class="b-b m-l-sm">
                                <!-- <conow-area ng-model="TripReq.tripReqAdrList[$index].TRIP_DEST"
                                            region-type="city" display-root="false" include-parent="false"
                                            i-class="no-borders padder-xs text-primary-dker text-lg font-bold"></conow-area> -->
                                <input type="text" readonly="true" class="w-full no-borders p-xs text-primary-dker text-lg font-bold" name="trip_dest"
                                		conow-area2 ng-model="TripReq.tripReqAdrList[$index].TRIP_DEST" placeholder="目的地">
                            </div>
                            <div class="m-l-sm">
                                <conow-datepicker
                                        ng-model="TripReq.tripReqAdrList[$index].TRIP_END"
                                        min-date="$index==0?TripReq.tripReqAdrList[0].TRIP_START : TripReq.tripReqAdrList[$index-1].TRIP_END"
                                        max-date="TripReq.tripReqAdrList[$index+1].TRIP_END"
                                        ng-required="true" ng-blur="calDays()"
                                        i-class="no-borders no-shadow text-primary-dker text-lg font-bold padder-xs"></conow-datepicker>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hbox text-xlg">
                                <div class="col v-middle bg-light lter">
                                    <input ng-model="TripReq.tripReqAdrList[$index].TRIP_DAYS" type="text"
                                           class="no-borders text-right w-full" placeholder="0"
                                           id="TRIP_DAYS{{$index}}"></div>
                                <div class="col v-middle bg-light lter">天</div>
                                <div class="col col-icon v-middle">
                                    <a class="text-danger text-md p-xs" ng-click="reduceDest($index)">
                                        <i class="glyphicon glyphicon-minus-sign"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padder-sm m-t-sm bg-light lter">
                    <div class="hbox padder-v-sm">
                        <a class="col col-md text-info" ng-click="addDest(TripReq.tripReqAdrList.length)">
                            <i class="glyphicon glyphicon-plus-sign"></i> 添加一程</a>
                    </div>
                </div>
            </div>

            <div class="bg-light lter">
                <div class="hbox padder-sm padder-v-s m-t-sm ">
                    <label class="col col-md v-middle font-bold" for="ESTIMATE_COST{{$index}}">预计费用</label>

                    <div class="col v-middle">
                        <input ng-model="TripReq.tripReqMap.ESTIMATE_COST" type="text" ng-required="true"
                               class="no-borders w-full text-lg font-bold" placeholder="填写所需费用"
                               id="ESTIMATE_COST{{$index}}" ng-blur="prjCountPayAmt();">
                    </div>
                </div>
            </div>
            <div class="bg-light lter">
                <div class="hbox padder-sm padder-v-s m-t-sm">
                    <label class="col col-md text-field" for="TRIP_MEMO{{$index}}">事项说明</label>

                    <div class="col v-middle">
                        <textarea onfocus="window.activeobj=this;this.clock=setInterval(function(){activeobj.style.height=activeobj.scrollHeight+'px';},200);"
                                  onblur="clearInterval(this.clock);" class="no-borders w-full scroll-hidden" rows="3"
                                  placeholder="填写出差事宜" ng-model="TripReq.tripReqMap.TRIP_MEMO"
                                  id="TRIP_MEMO{{$index}}"></textarea>
                        <!--<input ng-model="TripReq.tripReqMap.TRIP_MEMO" type="text"-->
                               <!--class="no-borders text-right-xs w-full" placeholder="填写出差事宜"-->
                               <!--id="TRIP_MEMO{{$index}}" >-->
                    </div>
                </div>
            </div>

            <div>
                <conow-file-upload
                        file-num='10'
                        file-size='4'
                        file-type='*'
                        need-drag="true"
                        need-upload-button='true'
                        need-delete-button='true'
                        table-name='FM_TRIP_REQ'
                        appendix-type='file'
                        appendix-ids='TripReq.fileAppendixList'
                        delete-with-save='isSave'
                        uploaded-file-list='uploadedFileList'
                        >
                </conow-file-upload>
            </div>

        </div>
        <!-- /基本信息 -->

        <!-- 人员信息 -->
        <div class="padder-v-xs">
            <div class="padder-sm padder-v-xs bg-light dker text-lg font-bold">
                人员信息
            </div>
            <div class="padder-sm m-t-sm bg-light lter">
                <div ng-repeat="tripPeer in tripPeerInfo track by $index">
                    <conowstaffinfo staffId="{{tripPeer.ID}}">
                        <div class="hbox b-b">
                            <div class="col v-middle">{{tripPeer.NAME}}</div>
                            <div class="col v-middle text-right">{{tripPeer.MOBILE}}</div>
                            <div class="col v-middle text-arrow w-xxxs">
                                <i class="ion-ios-arrow-right padder-sm"></i>
                            </div>
                        </div>
                    </conowstaffinfo>
                </div>
                <conow-staffchoose ng-model="tripPeerInfo" is-multi="true" is-diy="true">
                    <div class="hbox padder-v-sm">
                        <a class="col col-md text-info">
                            <i class="glyphicon glyphicon-plus-sign"></i> 添加出差人</a>
                    </div>
                </conow-staffchoose>
            </div>
        </div>
        <!-- /人员信息 -->

        <!-- 费用分摊 -->
        <div class="padder-v-xs">
            <div class="padder-sm padder-v-xs bg-light dker text-lg font-bold">
                费用分摊
            </div>
            <div>
                <div ng-include="'app/business/fm/common/expensePrjMobile.html'"></div>
            </div>
        </div>
        <!-- /费用分摊 -->

        <!-- 借款事项 -->
        <div class="padder-v-xs">
            <div class="hbox padder-sm padder-v-xs bg-light dker text-lg font-bold">
                <div class="col col-btn">借款事项</div>
                <div class="col checkbox no-margin pull-right">
                    <label class="i-checks padder">
                        <input type="checkbox" value="" ng-checked="TripReq.tripReqMap.LOAN_IF=='TRUE'"
                               ng-click="showLoan()">
                        <i></i>
                        借款
                    </label>
                </div>
            </div>
            <div class="bg-light lter" ng-if="TripReq.tripReqMap.LOAN_IF=='TRUE'">
                <div class="hbox padder-sm padder-v-s m-t-sm">
                    <label class="col col-md font-bold" for="LOAN_AMT{{$index}}">借款金额</label>

                    <div class="col text-right-xs v-middle">
                        <div>
                        <input ng-model="TripReq.tripReqMap.LOAN_AMT" type="text" ng-blur="countPayAmt()"
                               class="no-borders text-right-xs w-full" placeholder="填写借款金额"
                               id="LOAN_AMT{{$index}}">
                        </div>
                        <div>({{TripReq.tripReqMap.LOAN_AMT | converToChineseCurrency}})</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /借款事项 -->

        <!-- 结算方式 -->
        <div class="padder-v-xs">
            <div ng-show="TripReq.tripReqMap.LOAN_IF=='TRUE'"
                 ng-include="'app/business/fm/common/clearingFormMobile.html'"></div>
            <!--<div ng-show="TripReq.tripReqMap.LOAN_IF=='TRUE'" ng-include="'template/fm/clearingFormMobile.html'"></div>-->
        </div>
        <!-- /结算方式 -->

        <!-- 审批记录？ -->
        <div ng-if="TripReq.tripReqMap.TRIP_REQ_STATE=='BACK'">
            <approval-records object-id="{{$stateParams.ID}}"></approval-records>
        </div>
        <!-- /审批记录？ -->

        <div class="bbox">
            <div class="col">
                <button type="submit" class="btn btn-col-primary">提交</button>
            </div>
            <div class="col">
                <input type="button" value="暂存" class="btn btn-col-black" ng-disabled="!tripReqForm.$dirty"
                       ng-click="saveTrip()"/>
            </div>
            <div class="col" ng-if="TripReq.tripReqMap.ID">
                <button type="button" class="btn btn-col-danger" ng-click="deleteTripReq()">删除</button>
            </div>
        </div>


    </form>
</div>