<div class="header-md h pos-fix w-full b-b bg-light dk">
  <h3 class="m-n font-thin h3">validator demo</h3>
</div>
<div class="wrapper-md pos-rlt">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">validator</div>
        </div>
        <div class="panel-body" ng-controller="validateCtrl">
          <form class="conow-form demo-form" role="form" conow-form-validate novalidate name="validateForm">
          <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" name="email" id="email" ng-model="entity.email" required="" placeholder="请输入邮箱">
          </div>
          <div class="form-group">
            <label for="username">用户名</label>
            <!-- <input type="text" class="form-control" name="username" id="username" required="" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/" ng-model="entity.name" conow-unique-check="{url:'users/userCheck?username='+entity.name}" placeholder="请输入用户名"> -->
            <input type="text" class="form-control" name="username" id="username"  ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/" ng-model="entity.name" required conow-unique-check="{url:'data/bz/username.json?username='+entity.name}" is-exists="false" placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" name="password" id="password" required="" ng-model="entity.password" ng-minlength="5" ng-maxlength="15" placeholder="请输入密码">
          </div>
          <div class="form-group">
            <label for="repeatPassword">确认密码</label>
            <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" required="" conow-repeat="password" ng-model="entity.repeatPassword" placeholder="请再次输入密码">
          </div>
          <div class="form-group">
            <label for="number">数字</label>
              <input type="number" class="form-control" name="number" id="number" required="" ng-model="entity.number" placeholder="输入数字10-15" max="15" min="10">
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="url" class="form-control" name="url" id="url" required="" ng-model="entity.url" placeholder="请输入URL">
          </div>
          <div class="form-group">
            <label for="datetime">date</label>
            <input type="text" class="form-control" name="datetime" id="datetime" required="" ng-model="entity.datetime" placeholder="请输入date">
            <span>{{ entity.datetime | strDate:'yyyy-MM-dd HH:mm' }}</span>
          </div>
          <div class="form-group">
            <label for="memo">备注</label>
            <textarea class="form-control" name="memo" ng-model="entity.memo" id="memo" rows="3" required placeholder="请输入备注"></textarea>
          </div>
         <!--  <div class="form-group">
            <button type="button" ng-click="test()">ClickService Click</button>
            <span>{{ entity.ClickServiceProperty }}</span>
          </div> -->

          <!-- <div class="form-group">
            <label for="identitycard">身份证</label>
            <input type="text" class="form-control" name="identitycard"  ng-model="entity.identitycard" placeholder="请输入身份证号码" ng-pattern=" /(^\d{15}$)|(^\d{17}([0-9]|X)$)/">
          </div>
          <div class="form-group">
            <label for="passport">护照</label>
            <input type="text" class="form-control" name="passport" id="password"  ng-model="entity.passport" placeholder="请输入护照号码" ng-pattern="/^[a-zA-Z0-9]{3,21}$|^(P\d{7})|(G\d{8})$/">
          </div>
          <div class="form-group">
            <label for="soldiercard">军官证/士兵证</label>
            <input type="text" class="form-control" name="soldiercard" id="soldiercard"  ng-model="entity.soldiercard" placeholder="请输入证件号" ng-pattern="/^[a-zA-Z0-9]{3,21}$|^(P\d{7})|(G\d{8})$/">
          </div>
          <div class="form-group">
            <label for="HKMacTW">港澳台证</label>
            <input type="text" class="form-control" name="HKMacTW" id="HKMacTW"  ng-model="entity.HKMacTW" placeholder="请输入证件号" ng-pattern="/^[a-zA-Z0-9]{5,21}$/">
          </div> -->
    
          <div class="form-group" ng-show="validateForm.$errors.length > 0 && vm.showErrorType == 2">
            <label></label>
              <div class="alert alert-danger">{{validateForm.$errors[0]}}</div>
          </div>
    
          <div class="form-group">
              <button type="button" class="btn btn-success" conow-submit="saveEntity()"> 提交</button>
          </div>
      </form>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="panel-title">常见问题</div>
        </div>
        <div class="panel-body">
          <ol>
            <li>
            <p><span class="text-danger">Q:</span>没有调用到校验方法</p>
            <p><span class="text-primary">A:</span>form添加name、conow-form-validate、novalidate属性，class中添加conow-form</p>
            <p>此指令依赖的完整form属性：
              <code>
                &lt;form class="conow-form" name="validateForm" conow-form-validate="validateOptions" novalidate role="form"&gt;&lt;/form&gt;
              </code>
            </p>
            </li>
            <li>
              <p><span class="text-danger">Q:</span>form的其他字段可以进行校验，某个字段不能触发校验</p>
              <p><span class="text-primary">A:</span>为该字段添加name属性</p>
            </li>
            <li>
              <p><span class="text-danger">Q:</span>出现错误：<code>TypeError: Cannot read property '$valid' of undefined</code></p>
              <p><span class="text-primary">A:</span>为该字段添加ng-model绑定</p>
            </li>
          </ol>
        </div>
        <div class="panel-footer">注释</div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="panel-title">待解决问题：（欢迎补充[格式：XXX问题 - by XX @时间]）</div>
        </div>
        <div class="panel-body">
          <ol>
            <li>修改唯一性校验规则 - by wlj  @2015-03-31</li>
          </ol>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panelt-title">版本维护说明</div>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>2015-3-31 - 增加“常见问题”和“版本维护说明”</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">使用说明</div>
        </div>
        <div class="panel-body">
          <div class="use-info">
            <ol>
            <li>在 index.html 中引入<code>vendor/conow-validator/dist/conowValidator.js</code></li>
            <li>在 app.js 中启动 module 引用。<code>var app = angular.module('app', ['conow.validator']);</code></li>
            <li>在 app.config 事件中配置全局属性和显示规则：
            <pre>
  app.config(["conowValidatorProvider", function(conowValidatorProvider) {
  // 全局配置
  conowValidatorProvider.config({
      blurTrig   : false,
      showError  : true,
      removeError: true
  
  });
  conowValidatorProvider.setRules({
      email   : {
          required: "输入的邮箱地址不能为空",
          email   : "输入邮箱地址格式不正确"
      },
        ...
    });
  }]);
          </pre>
            </li>
            <li>
              在HTML模板中form上使用指令 <code>conow-form-validate</code> 和 <code>conow-submit</code>，
              <code>conow-form-validate</code>指令表示该表单采用<code>conowValidator</code>的验证规则；conow-submit 表示验证成功后调用的事件，当然conow-submit可以不填写；
            </li>
          </ol>
          <h5 class="h5 font-bold">验证规则</h5>
          <p>AngularJS原生支持很多种验证规则，比如：require（必填项），email，pattern（正则），maxlength，minlength，number，url，max，min</p>
      <p>conowValidator提供了conow-repeat（级联重复，常用于重复密码）和conowUniqueCheck (远程验证，常用于检验用户名邮箱是否存在)</p>
      <h5 class="h5 font-bold">默认提示信息</h5>
      <pre>
{
    required      : "该选项不能为空",
    maxlength     : "该选项输入值长度不能大于{maxlength}",
    minlength     : "该选项输入值长度不能小于{minlength}",
    email         : "输入邮件的格式不正确",
    repeat        : "两次输入不一致",
    pattern       : "该选项输入格式不正确",
    number        : "必须输入数字",
    conowuniquecheck: "该输入值已经存在，请重新输入",
    url           : "输入URL格式不正确",
    max           : "该选项输入值不能大于{max}",
    min           : "该选项输入值不能小于{min}"

}
      </pre>
      <h5 class="h5 font-bold">注意事项</h5>
      <ol>
        <li>由于验证使用的是 angular的form验证，所以必须要保证form和验证的元素都要有<code>name</code>属性；</li>
        <li>如果你不想把验证成功事件conow-submit写在 form上，可以直接在form里面的其他元素上使用conowFormSubmit指令，如：
          <code>&lt;button type="button" conow-form-submit="vm.saveEntity()" class="btn btn-success"&gt; 验证&lt;/button&gt;</code>
        </li>
        <li>conowUniqueCheck验证存在时对应服务器接口返回'true'，不存在时返回'false'</li>
        <li>conowUniqueCheck默认检验是否已经存在，存在验证不通过，不存在验证通过，如果isExists设置为false表示：存在验证通过，不存在验证不通过。</li>
        <li>conowValidatorProvider默认的错误提示信息是中文的，如果想修改成其他语言，可以通过 conowValidatorProvider.setDefaultRules()方法设置。</li>
      </ol>
      
          <h5 class="h5 font-bold">参数说明</h5>
          <table class="table-bordered">
            <thead>
              <tr>
                <td>名称</td>
                <td>默认值</td>
                <td>作用</td>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>blurTrig</td>
              <td>false</td>
              <td>光标移除元素后是否验证并显示错误提示信息</td>
            </tr>
            <tr>
              <td>showError</td>
              <td>true</td>
              <td>可以是bool和function，每个元素验证不通过后调用该方法显示错误信息，默认true，显示错误信息在元素的后面。</td>
            </tr>
            <tr>
              <td>removeError</td>
              <td>true</td>
              <td>可以是bool和function，每个元素验证通过后调用该方法移除错误信息，默认true，验证通过后在元素的后面移除错误信息。</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
