 
<div class="">
  <h3>w5c-validator demo</h3>
</div>

<div ng-controller="validateCtrl">
  <form class="w5c-form demo-form" role="form" w5c-form-validate="vm.validateOptions" novalidate name="validateForm">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">邮箱</label>

        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" id="email" ng-model="entity.email" required="" placeholder="输入邮箱">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="username">用户名</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" id="username" required="" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/" ng-model="entity.name" w5c-unique-check="{url:'users/userCheck?username='+entity.name}" placeholder="输入用户名">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="password">密码</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" name="password" id="password" required="" ng-model="entity.password" ng-minlength="5" ng-maxlength="15" placeholder="输入密码">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="repeatPassword">重复密码</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" required="" w5c-repeat="password" ng-model="entity.repeatPassword" placeholder="重复密码">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="number">数字</label>

        <div class="col-sm-10">
          <input type="number" class="form-control" name="number" id="number" required="" ng-model="entity.number" placeholder="输入数字（10-15）" max="15" min="10">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="url">URL</label>

        <div class="col-sm-10">
          <input type="url" class="form-control" name="url" id="url" required="" ng-model="entity.url" placeholder="输入URL">
        </div>
      </div>

      <div class="form-group" ng-show="validateForm.$errors.length > 0 && vm.showErrorType == 2">
        <label class="col-sm-2 control-label"></label>

        <div class="col-sm-10">
          <div class="alert alert-danger">{{validateForm.$errors[0]}}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-success" w5c-form-submit="vm.saveEntity()"> 验证</button>
        </div>
      </div>
  </form>
</div>

<!-- 
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.validateOptions.blurTrig">光标移走触发验证
      </label>
    </div>
    <select name="" id="" class="form-control" ng-model="vm.showErrorType" ng-click="vm.changeShowType();">
      <option value="1">每个输入框显示错误信息</option>
      <option value="2">错误信息集中</option>
    </select>
  </div>
</div>
 -->