<title-bar name="stepper"></title-bar>

<div class="wrapper pos-rlt">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="stepperDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">组件演示</div>
				</div>
				<div class="panel-body">
						<div class="form-group">
							<label for="" class="control-label">数字</label>
								<conow-stepper  
									decimals="vm.decimals"
									step="vm.step" 
									ng-model="vm.defaultValue" 
									min="vm.min"
									max="vm.max"> 							
								</conow-stepper> 
						</div>

						<div class="form-group">
							<label for="">弹窗选择</label>
							<button class="btn btn-primary" ng-click="openModal($event)">打开</button>
						</div>
				</div>

				<div class="p-sm">
					<pre>{{ vm | json }}</pre>
				</div>
				<div class="panel-footer">
					@add by wlj
				</div>
			</div>		
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="stepperDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>
						<pre class="text-danger">&lt;conow-stepper decimals="vm.decimals" step="vm.step" ng-model="vm.defaultValue" min="vm.min" max="vm.max"&gt; &lt;/conow-stepper&gt;</pre></li>
						<li>参数说明
							<ol>
								<li><code>ng-model</code>:业务controller绑定的值</li>
								<li><code>decimals</code>:显示数字的精度[默认为0，即只显示整数部分]</li>
								<li><code>step</code>:每次点击加(递增)/减(递减)的步长[默认为1]</li>
								<li><code>min</code>:数字的最小值</li>
								<li><code>mix</code>:数字的最大值</li>
							</ol>
						</li>
					</ul>
				</div>
				<!-- <div class="panel-footer"></div> -->
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 div-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">版本维护</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>2015-07-17:修复最大值最小值为0时控制失效的问题</li>
					</ol>
				</div>
				<div class="panel-footer">
					@add by wlj:2015-7-17 10:48:35
				</div>
			</div>
		</div>
	</div>
</div>