<title-bar name="stepper"></title-bar>

<div class="wrapper pos-rlt">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="stepperDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">组件演示</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="" class="control-label">数字-没有单位</label>
							<conow-stepper  
								decimals="vm.decimals"
								step="vm.step" 
								ng-model="vm.defaultValue" 
								min="vm.min"
								max="vm.max"
								> 							
							</conow-stepper> 
					</div>

					<div class="form-group p-sm m-t-md">
						<pre>{{ vm | json }}</pre>
					</div>
					
					<div class="form-group">
						<label for="" class="control-label">数字-单位为一个字</label>
							<conow-stepper  
								decimals="vm.decimals"
								step="vm.step" 
								ng-model="vm.defaultValue" 
								min="vm.min"
								max="vm.max"
								unit-name="vm.unit2"> 							
							</conow-stepper> 
					</div>
					
					<div class="form-group">
						<label for="" class="control-label">数字-单位为二个字</label>
							<conow-stepper  
								decimals="vm.decimals"
								step="vm.step" 
								ng-model="vm.defaultValue" 
								min="vm.min"
								max="vm.max"
								unit-name="vm.unit3"> 							
							</conow-stepper> 
					</div>
					
					<div class="form-group">
						<label for="" class="control-label">数字-单位为三个字</label>
							<conow-stepper  
								decimals="vm.decimals"
								step="vm.step" 
								ng-model="vm.defaultValue" 
								min="vm.min"
								max="vm.max"
								unit-name="vm.unit4"> 							
							</conow-stepper> 
					</div>
					
					<div class="form-group">
						<label class="control-label">stepper弹窗</label>
						<button class="btn btn-primary" ng-click="openModal($event)">弹出</button>
					</div>
				</div>
				<div class="panel-footer">
					@add by wlj
				</div>
			</div>		
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="panel panel-info" ng-controller="stepperDemoCtrl">
				<div class="panel-heading">
					<div class="panel-title">使用说明</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>需要在路由跳转中先引入文件：'js/directives/conow-stepper/conow-stepper.js'</li>
						<li>调用方式：
							<pre class="text-danger">&lt;conow-stepper decimals="vm.decimals" step="vm.step" ng-model="vm.defaultValue" min="vm.min" max="vm.max"  unit-name="vm.unit2"&gt; &lt;/conow-stepper&gt;</pre></li>
						</li>
						<li>参数说明
							<ol>
								<li><code>ng-model</code>:业务controller绑定的值</li>
								<li><code>decimals</code>:显示数字的精度[默认为0，即只显示整数部分]</li>
								<li><code>step</code>:每次点击加(递增)/减(递减)的步长[默认为1]</li>
								<li><code>min</code>:数字的最小值</li>
								<li><code>mix</code>:数字的最大值</li>
								<li><code>unit-name</code>:显示的单位名称</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="panel-footer"></div>
			</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 div-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">版本维护</div>
				</div>
				<div class="panel-body">
					<ol>
						<li>2015-07-17:修复最大值最小值为0时控制失效的问题</li>
						<li>2015-07-20:指令中增加单位的处理</li>
						<li>2015-07-20:首页删除指令js文件的引入，改为路由跳转前按需加载</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>